<a href="https://colab.research.google.com/github/khalilullahalfaath/case_based_1_ML/blob/main/Case_based_1_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# library untuk preprocessing
# Untuk data imputation
from sklearn.impute import SimpleImputer 

# Untuk PCA
from sklearn.decomposition import PCA

# Import dataset
Arrhythmia Data Set

In [2]:
df = pd.read_csv('https://github.com/khalilullahalfaath/case_based_1_ML/blob/ece335d372e8c3c2e1f525460dcd2624f6ad85d8/arrhythmia.data?raw=true',header = None)

https://github.com/khalilullahalfaath/case_based_1_ML/blob/ece335d372e8c3c2e1f525460dcd2624f6ad85d8/arrhythmia.data

In [3]:
df

,0,1,2,3,4,5,6,7,8,9,...,270,271,272,273,274,275,276,277,278,279
0,75,0,190,80,91,193,371,174,121,-16,...,0.0,9.0,-0.9,0.0,0.0,0.9,2.9,23.3,49.4,8
1,56,1,165,64,81,174,401,149,39,25,...,0.0,8.5,0.0,0.0,0.0,0.2,2.1,20.4,38.8,6
2,54,0,172,95,138,163,386,185,102,96,...,0.0,9.5,-2.4,0.0,0.0,0.3,3.4,12.3,49.0,10
3,55,0,175,94,100,202,380,179,143,28,...,0.0,12.2,-2.2,0.0,0.0,0.4,2.6,34.6,61.6,1
4,75,0,190,80,88,181,360,177,103,-16,...,0.0,13.1,-3.6,0.0,0.0,-0.1,3.9,25.4,62.8,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447,53,1,160,70,80,199,382,154,117,-37,...,0.0,4.3,-5.0,0.0,0.0,0.7,0.6,-4.4,-0.5,1
448,37,0,190,85,100,137,361,201,73,86,...,0.0,15.6,-1.6,0.0,0.0,0.4,2.4,38.0,62.4,10
449,36,0,166,68,108,176,365,194,116,-85,...,0.0,16.3,-28.6,0.0,0.0,1.5,1.0,-44.2,-33.2,2
450,32,1,155,55,93,106,386,218,63,54,...,-0.4,12.0,-0.7,0.0,0.0,0.5,2.4,25.0,46.6,1
451,78,1,160,70,79,127,364,138,78,28,...,0.0,10.4,-1.8,0.0,0.0,0.5,1.6,21.3,32.8,1

Di sini nama kolom terdiri atas record pertama. Sehingga nama kolom harus dilabeli secara manual

# Data Preparation

## Set column name

Daftar nama kolom sesuai yang ada di data.name

In [4]:
columnName = "age	sex	height	weight	QRSduration	PRinterval	Q-Tinterval	Tinterval	Pinterval	QRS	T	P	QRST	J	heartrate	chDI_Qwave	chDI_Rwave	chDI_Swave	chDI_RPwave	chDI_SPwave	chDI_intrinsicReflecttions	chDI_RRwaveExists	chDI_DD_RRwaveExists	chDI_RPwaveExists	chDI_DD_RPwaveExists	chDI_RTwaveExists	chDI_DD_RTwaveExists	chDII_Qwave	chDII_Rwave	chDII_Swave	chDII_RPwave	chDII_SPwave	chDII_intrinsicReflecttions	chDII_RRwaveExists	chDII_DD_RRwaveExists	chDII_RPwaveExists	chDII_DD_RPwaveExists	chDII_RTwaveExists	chDII_DD_RTwaveExists	chDIII_Qwave	chDIII_Rwave	chDIII_Swave	chDIII_RPwave	chDIII_SPwave	chDIII_intrinsicReflecttions	chDIII_RRwaveExists	chDIII_DD_RRwaveExists	chDIII_RPwaveExists	chDIII_DD_RPwaveExists	chDIII_RTwaveExists	chDIII_DD_RTwaveExists	chAVR_Qwave	chAVR_Rwave	chAVR_Swave	chAVR_RPwave	chAVR_SPwave	chAVR_intrinsicReflecttions	chAVR_RRwaveExists	chAVR_DD_RRwaveExists	chAVR_RPwaveExists	chAVR_DD_RPwaveExists	chAVR_RTwaveExists	chAVR_DD_RTwaveExists	chAVL_Qwave	chAVL_Rwave	chAVL_Swave	chAVL_RPwave	chAVL_SPwave	chAVL_intrinsicReflecttions	chAVL_RRwaveExists	chAVL_DD_RRwaveExists	chAVL_RPwaveExists	chAVL_DD_RPwaveExists	chAVL_RTwaveExists	chAVL_DD_RTwaveExists	chAVF_Qwave	chAVF_Rwave	chAVF_Swave	chAVF_RPwave	chAVF_SPwave	chAVF_intrinsicReflecttions	chAVF_RRwaveExists	chAVF_DD_RRwaveExists	chAVF_RPwaveExists	chAVF_DD_RPwaveExists	chAVF_RTwaveExists	chAVF_DD_RTwaveExists	chV1_Qwave	chV1_Rwave	chV1_Swave	chV1_RPwave	chV1_SPwave	chV1_intrinsicReflecttions	chV1_RRwaveExists	chV1_DD_RRwaveExists	chV1_RPwaveExists	chV1_DD_RPwaveExists	chV1_RTwaveExists	chV1_DD_RTwaveExists	chV2_Qwave	chV2_Rwave	chV2_Swave	chV2_RPwave	chV2_SPwave	chV2_intrinsicReflecttions	chV2_RRwaveExists	chV2_DD_RRwaveExists	chV2_RPwaveExists	chV2_DD_RPwaveExists	chV2_RTwaveExists	chV2_DD_RTwaveExists	chV3_Qwave	chV3_Rwave	chV3_Swave	chV3_RPwave	chV3_SPwave	chV3_intrinsicReflecttions	chV3_RRwaveExists	chV3_DD_RRwaveExists	chV3_RPwaveExists	chV3_DD_RPwaveExists	chV3_RTwaveExists	chV3_DD_RTwaveExists	chV4_Qwave	chV4_Rwave	chV4_Swave	chV4_RPwave	chV4_SPwave	chV4_intrinsicReflecttions	chV4_RRwaveExists	chV4_DD_RRwaveExists	chV4_RPwaveExists	chV4_DD_RPwaveExists	chV4_RTwaveExists	chV4_DD_RTwaveExists	chV5_Qwave	chV5_Rwave	chV5_Swave	chV5_RPwave	chV5_SPwave	chV5_intrinsicReflecttions	chV5_RRwaveExists	chV5_DD_RRwaveExists	chV5_RPwaveExists	chV5_DD_RPwaveExists	chV5_RTwaveExists	chV5_DD_RTwaveExists	chV6_Qwave	chV6_Rwave	chV6_Swave	chV6_RPwave	chV6_SPwave	chV6_intrinsicReflecttions	chV6_RRwaveExists	chV6_DD_RRwaveExists	chV6_RPwaveExists	chV6_DD_RPwaveExists	chV6_RTwaveExists	chV6_DD_RTwaveExists	chDI_JJwaveAmp	chDI_QwaveAmp	chDI_RwaveAmp	chDI_SwaveAmp	chDI_RPwaveAmp	chDI_SPwaveAmp	chDI_PwaveAmp	chDI_TwaveAmp	chDI_QRSA	chDI_QRSTA	chDII_JJwaveAmp	chDII_QwaveAmp	chDII_RwaveAmp	chDII_SwaveAmp	chDII_RPwaveAmp	chDII_SPwaveAmp	chDII_PwaveAmp	chDII_TwaveAmp	chDII_QRSA	chDII_QRSTA	chDIII_JJwaveAmp	chDIII_QwaveAmp	chDIII_RwaveAmp	chDIII_SwaveAmp	chDIII_RPwaveAmp	chDIII_SPwaveAmp	chDIII_PwaveAmp	chDIII_TwaveAmp	chDIII_QRSA	chDIII_QRSTA	chAVR_JJwaveAmp	chAVR_QwaveAmp	chAVR_RwaveAmp	chAVR_SwaveAmp	chAVR_RPwaveAmp	chAVR_SPwaveAmp	chAVR_PwaveAmp	chAVR_TwaveAmp	chAVR_QRSA	chAVR_QRSTA	chAVL_JJwaveAmp	chAVL_QwaveAmp	chAVL_RwaveAmp	chAVL_SwaveAmp	chAVL_RPwaveAmp	chAVL_SPwaveAmp	chAVL_PwaveAmp	chAVL_TwaveAmp	chAVL_QRSA	chAVL_QRSTA	chAVF_JJwaveAmp	chAVF_QwaveAmp	chAVF_RwaveAmp	chAVF_SwaveAmp	chAVF_RPwaveAmp	chAVF_SPwaveAmp	chAVF_PwaveAmp	chAVF_TwaveAmp	chAVF_QRSA	chAVF_QRSTA	chV1_JJwaveAmp	chV1_QwaveAmp	chV1_RwaveAmp	chV1_SwaveAmp	chV1_RPwaveAmp	chV1_SPwaveAmp	chV1_PwaveAmp	chV1_TwaveAmp	chV1_QRSA	chV1_QRSTA	chV2_JJwaveAmp	chV2_QwaveAmp	chV2_RwaveAmp	chV2_SwaveAmp	chV2_RPwaveAmp	chV2_SPwaveAmp	chV2_PwaveAmp	chV2_TwaveAmp	chV2_QRSA	chV2_QRSTA	chV3_JJwaveAmp	chV3_QwaveAmp	chV3_RwaveAmp	chV3_SwaveAmp	chV3_RPwaveAmp	chV3_SPwaveAmp	chV3_PwaveAmp	chV3_TwaveAmp	chV3_QRSA	chV3_QRSTA	chV4_JJwaveAmp	chV4_QwaveAmp	chV4_RwaveAmp	chV4_SwaveAmp	chV4_RPwaveAmp	chV4_SPwaveAmp	chV4_PwaveAmp	chV4_TwaveAmp	chV4_QRSA	chV4_QRSTA	chV5_JJwaveAmp	chV5_QwaveAmp	chV5_RwaveAmp	chV5_SwaveAmp	chV5_RPwaveAmp	chV5_SPwaveAmp	chV5_PwaveAmp	chV5_TwaveAmp	chV5_QRSA	chV5_QRSTA	chV6_JJwaveAmp	chV6_QwaveAmp	chV6_RwaveAmp	chV6_SwaveAmp	chV6_RPwaveAmp	chV6_SPwaveAmp	chV6_PwaveAmp	chV6_TwaveAmp	chV6_QRSA	chV6_QRSTA	class"

Membuat list yang terdiri atas nama kolom dari string nama kolom

In [5]:
colName = columnName.split("\t")
print(colName)

['age', 'sex', 'height', 'weight', 'QRSduration', 'PRinterval', 'Q-Tinterval', 'Tinterval', 'Pinterval', 'QRS', 'T', 'P', 'QRST', 'J', 'heartrate', 'chDI_Qwave', 'chDI_Rwave', 'chDI_Swave', 'chDI_RPwave', 'chDI_SPwave', 'chDI_intrinsicReflecttions', 'chDI_RRwaveExists', 'chDI_DD_RRwaveExists', 'chDI_RPwaveExists', 'chDI_DD_RPwaveExists', 'chDI_RTwaveExists', 'chDI_DD_RTwaveExists', 'chDII_Qwave', 'chDII_Rwave', 'chDII_Swave', 'chDII_RPwave', 'chDII_SPwave', 'chDII_intrinsicReflecttions', 'chDII_RRwaveExists', 'chDII_DD_RRwaveExists', 'chDII_RPwaveExists', 'chDII_DD_RPwaveExists', 'chDII_RTwaveExists', 'chDII_DD_RTwaveExists', 'chDIII_Qwave', 'chDIII_Rwave', 'chDIII_Swave', 'chDIII_RPwave', 'chDIII_SPwave', 'chDIII_intrinsicReflecttions', 'chDIII_RRwaveExists', 'chDIII_DD_RRwaveExists', 'chDIII_RPwaveExists', 'chDIII_DD_RPwaveExists', 'chDIII_RTwaveExists', 'chDIII_DD_RTwaveExists', 'chAVR_Qwave', 'chAVR_Rwave', 'chAVR_Swave', 'chAVR_RPwave', 'chAVR_SPwave', 'chAVR_intrinsicReflecttions', 'chAVR_RRwaveExists', 'chAVR_DD_RRwaveExists', 'chAVR_RPwaveExists', 'chAVR_DD_RPwaveExists', 'chAVR_RTwaveExists', 'chAVR_DD_RTwaveExists', 'chAVL_Qwave', 'chAVL_Rwave', 'chAVL_Swave', 'chAVL_RPwave', 'chAVL_SPwave', 'chAVL_intrinsicReflecttions', 'chAVL_RRwaveExists', 'chAVL_DD_RRwaveExists', 'chAVL_RPwaveExists', 'chAVL_DD_RPwaveExists', 'chAVL_RTwaveExists', 'chAVL_DD_RTwaveExists', 'chAVF_Qwave', 'chAVF_Rwave', 'chAVF_Swave', 'chAVF_RPwave', 'chAVF_SPwave', 'chAVF_intrinsicReflecttions', 'chAVF_RRwaveExists', 'chAVF_DD_RRwaveExists', 'chAVF_RPwaveExists', 'chAVF_DD_RPwaveExists', 'chAVF_RTwaveExists', 'chAVF_DD_RTwaveExists', 'chV1_Qwave', 'chV1_Rwave', 'chV1_Swave', 'chV1_RPwave', 'chV1_SPwave', 'chV1_intrinsicReflecttions', 'chV1_RRwaveExists', 'chV1_DD_RRwaveExists', 'chV1_RPwaveExists', 'chV1_DD_RPwaveExists', 'chV1_RTwaveExists', 'chV1_DD_RTwaveExists', 'chV2_Qwave', 'chV2_Rwave', 'chV2_Swave', 'chV2_RPwave', 'chV2_SPwave', 'chV2_intrinsicReflecttions', 'chV2_RRwaveExists', 'chV2_DD_RRwaveExists', 'chV2_RPwaveExists', 'chV2_DD_RPwaveExists', 'chV2_RTwaveExists', 'chV2_DD_RTwaveExists', 'chV3_Qwave', 'chV3_Rwave', 'chV3_Swave', 'chV3_RPwave', 'chV3_SPwave', 'chV3_intrinsicReflecttions', 'chV3_RRwaveExists', 'chV3_DD_RRwaveExists', 'chV3_RPwaveExists', 'chV3_DD_RPwaveExists', 'chV3_RTwaveExists', 'chV3_DD_RTwaveExists', 'chV4_Qwave', 'chV4_Rwave', 'chV4_Swave', 'chV4_RPwave', 'chV4_SPwave', 'chV4_intrinsicReflecttions', 'chV4_RRwaveExists', 'chV4_DD_RRwaveExists', 'chV4_RPwaveExists', 'chV4_DD_RPwaveExists', 'chV4_RTwaveExists', 'chV4_DD_RTwaveExists', 'chV5_Qwave', 'chV5_Rwave', 'chV5_Swave', 'chV5_RPwave', 'chV5_SPwave', 'chV5_intrinsicReflecttions', 'chV5_RRwaveExists', 'chV5_DD_RRwaveExists', 'chV5_RPwaveExists', 'chV5_DD_RPwaveExists', 'chV5_RTwaveExists', 'chV5_DD_RTwaveExists', 'chV6_Qwave', 'chV6_Rwave', 'chV6_Swave', 'chV6_RPwave', 'chV6_SPwave', 'chV6_intrinsicReflecttions', 'chV6_RRwaveExists', 'chV6_DD_RRwaveExists', 'chV6_RPwaveExists', 'chV6_DD_RPwaveExists', 'chV6_RTwaveExists', 'chV6_DD_RTwaveExists', 'chDI_JJwaveAmp', 'chDI_QwaveAmp', 'chDI_RwaveAmp', 'chDI_SwaveAmp', 'chDI_RPwaveAmp', 'chDI_SPwaveAmp', 'chDI_PwaveAmp', 'chDI_TwaveAmp', 'chDI_QRSA', 'chDI_QRSTA', 'chDII_JJwaveAmp', 'chDII_QwaveAmp', 'chDII_RwaveAmp', 'chDII_SwaveAmp', 'chDII_RPwaveAmp', 'chDII_SPwaveAmp', 'chDII_PwaveAmp', 'chDII_TwaveAmp', 'chDII_QRSA', 'chDII_QRSTA', 'chDIII_JJwaveAmp', 'chDIII_QwaveAmp', 'chDIII_RwaveAmp', 'chDIII_SwaveAmp', 'chDIII_RPwaveAmp', 'chDIII_SPwaveAmp', 'chDIII_PwaveAmp', 'chDIII_TwaveAmp', 'chDIII_QRSA', 'chDIII_QRSTA', 'chAVR_JJwaveAmp', 'chAVR_QwaveAmp', 'chAVR_RwaveAmp', 'chAVR_SwaveAmp', 'chAVR_RPwaveAmp', 'chAVR_SPwaveAmp', 'chAVR_PwaveAmp', 'chAVR_TwaveAmp', 'chAVR_QRSA', 'chAVR_QRSTA', 'chAVL_JJwaveAmp', 'chAVL_QwaveAmp', 'chAVL_RwaveAmp', 'chAVL_SwaveAmp', 'chAVL_RPwaveAmp', 'chAVL_SPwaveAmp', 'chAVL_PwaveAmp', 'chAVL_TwaveAmp', 'chAVL_QRSA', 'chAVL_QRSTA', 'chAVF_JJwaveAmp', 'chAVF_QwaveAmp', 'chAVF_RwaveAmp', 'chAVF_SwaveAmp', 'chAVF_RPwaveAmp', 'chAVF_SPwaveAmp', 'chAVF_PwaveAmp', 'chAVF_TwaveAmp', 'chAVF_QRSA', 'chAVF_QRSTA', 'chV1_JJwaveAmp', 'chV1_QwaveAmp', 'chV1_RwaveAmp', 'chV1_SwaveAmp', 'chV1_RPwaveAmp', 'chV1_SPwaveAmp', 'chV1_PwaveAmp', 'chV1_TwaveAmp', 'chV1_QRSA', 'chV1_QRSTA', 'chV2_JJwaveAmp', 'chV2_QwaveAmp', 'chV2_RwaveAmp', 'chV2_SwaveAmp', 'chV2_RPwaveAmp', 'chV2_SPwaveAmp', 'chV2_PwaveAmp', 'chV2_TwaveAmp', 'chV2_QRSA', 'chV2_QRSTA', 'chV3_JJwaveAmp', 'chV3_QwaveAmp', 'chV3_RwaveAmp', 'chV3_SwaveAmp', 'chV3_RPwaveAmp', 'chV3_SPwaveAmp', 'chV3_PwaveAmp', 'chV3_TwaveAmp', 'chV3_QRSA', 'chV3_QRSTA', 'chV4_JJwaveAmp', 'chV4_QwaveAmp', 'chV4_RwaveAmp', 'chV4_SwaveAmp', 'chV4_RPwaveAmp', 'chV4_SPwaveAmp', 'chV4_PwaveAmp', 'chV4_TwaveAmp', 'chV4_QRSA', 'chV4_QRSTA', 'chV5_JJwaveAmp', 'chV5_QwaveAmp', 'chV5_RwaveAmp', 'chV5_SwaveAmp', 'chV5_RPwaveAmp', 'chV5_SPwaveAmp', 'chV5_PwaveAmp', 'chV5_TwaveAmp', 'chV5_QRSA', 'chV5_QRSTA', 'chV6_JJwaveAmp', 'chV6_QwaveAmp', 'chV6_RwaveAmp', 'chV6_SwaveAmp', 'chV6_RPwaveAmp', 'chV6_SPwaveAmp', 'chV6_PwaveAmp', 'chV6_TwaveAmp', 'chV6_QRSA', 'chV6_QRSTA', 'class']

Merename column

In [6]:
df.columns = colName

## Dataset yang sudah direname colomnnya

In [7]:
df

,age,sex,height,weight,QRSduration,PRinterval,Q-Tinterval,Tinterval,Pinterval,QRS,...,chV6_QwaveAmp,chV6_RwaveAmp,chV6_SwaveAmp,chV6_RPwaveAmp,chV6_SPwaveAmp,chV6_PwaveAmp,chV6_TwaveAmp,chV6_QRSA,chV6_QRSTA,class
0,75,0,190,80,91,193,371,174,121,-16,...,0.0,9.0,-0.9,0.0,0.0,0.9,2.9,23.3,49.4,8
1,56,1,165,64,81,174,401,149,39,25,...,0.0,8.5,0.0,0.0,0.0,0.2,2.1,20.4,38.8,6
2,54,0,172,95,138,163,386,185,102,96,...,0.0,9.5,-2.4,0.0,0.0,0.3,3.4,12.3,49.0,10
3,55,0,175,94,100,202,380,179,143,28,...,0.0,12.2,-2.2,0.0,0.0,0.4,2.6,34.6,61.6,1
4,75,0,190,80,88,181,360,177,103,-16,...,0.0,13.1,-3.6,0.0,0.0,-0.1,3.9,25.4,62.8,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447,53,1,160,70,80,199,382,154,117,-37,...,0.0,4.3,-5.0,0.0,0.0,0.7,0.6,-4.4,-0.5,1
448,37,0,190,85,100,137,361,201,73,86,...,0.0,15.6,-1.6,0.0,0.0,0.4,2.4,38.0,62.4,10
449,36,0,166,68,108,176,365,194,116,-85,...,0.0,16.3,-28.6,0.0,0.0,1.5,1.0,-44.2,-33.2,2
450,32,1,155,55,93,106,386,218,63,54,...,-0.4,12.0,-0.7,0.0,0.0,0.5,2.4,25.0,46.6,1
451,78,1,160,70,79,127,364,138,78,28,...,0.0,10.4,-1.8,0.0,0.0,0.5,1.6,21.3,32.8,1

## Info tentang dataset

In [8]:
df.describe()

,age,sex,height,weight,QRSduration,PRinterval,Q-Tinterval,Tinterval,Pinterval,QRS,...,chV6_QwaveAmp,chV6_RwaveAmp,chV6_SwaveAmp,chV6_RPwaveAmp,chV6_SPwaveAmp,chV6_PwaveAmp,chV6_TwaveAmp,chV6_QRSA,chV6_QRSTA,class
count,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,...,452.000000,452.000000,452.000000,452.000000,452.0,452.000000,452.000000,452.000000,452.000000,452.000000
mean,46.471239,0.550885,166.188053,68.170354,88.920354,155.152655,367.207965,169.949115,90.004425,33.676991,...,-0.278982,9.048009,-1.457301,0.003982,0.0,0.514823,1.222345,19.326106,29.473230,3.880531
std,16.466631,0.497955,37.170340,16.590803,15.364394,44.842283,33.385421,35.633072,25.826643,45.431434,...,0.548876,3.472862,2.002430,0.050118,0.0,0.347531,1.426052,13.503922,18.493927,4.407097
min,0.000000,0.000000,105.000000,6.000000,55.000000,0.000000,232.000000,108.000000,0.000000,-172.000000,...,-4.100000,0.000000,-28.600000,0.000000,0.0,-0.800000,-6.000000,-44.200000,-38.600000,1.000000
25%,36.000000,0.000000,160.000000,59.000000,80.000000,142.000000,350.000000,148.000000,79.000000,3.750000,...,-0.425000,6.600000,-2.100000,0.000000,0.0,0.400000,0.500000,11.450000,17.550000,1.000000
50%,47.000000,1.000000,164.000000,68.000000,86.000000,157.000000,367.000000,162.000000,91.000000,40.000000,...,0.000000,8.800000,-1.100000,0.000000,0.0,0.500000,1.350000,18.100000,27.900000,1.000000
75%,58.000000,1.000000,170.000000,79.000000,94.000000,175.000000,384.000000,179.000000,102.000000,66.000000,...,0.000000,11.200000,0.000000,0.000000,0.0,0.700000,2.100000,25.825000,41.125000,6.000000
max,83.000000,1.000000,780.000000,176.000000,188.000000,524.000000,509.000000,381.000000,205.000000,169.000000,...,0.000000,23.600000,0.000000,0.800000,0.0,2.400000,6.000000,88.800000,115.900000,16.000000

## Handling missing value

In [9]:
df.columns[df.isin(['?']).any()]

Index(['T', 'P', 'QRST', 'J', 'heartrate'], dtype='object')

Mengubah tanda ? menjadi nan value

In [10]:
df = df.replace('?',np.nan)

In [11]:
df.columns[df.isin(['?']).any()]

Index([], dtype='object')

In [12]:
df['T'].isna().sum()

8

In [13]:
df[df.columns[df.isnull().any()]]

       T    P QRST    J heartrate
0     13   64   -2  NaN        63
1     37  -17   31  NaN        53
2     34   70   66   23        75
3     11   -5   20  NaN        71
4     13   61    3  NaN       NaN
..   ...  ...  ...  ...       ...
447    4   40  -27  NaN        63
448   66   52   79  NaN        73
449  -19  -61  -70   84        84
450   29  -22   43  103        80
451   79   52   47  NaN        75

[452 rows x 5 columns]

**Ada beberapa teknik untuk menghandling missing value. Salah satunya adalah imputation data**

*Dengan data imputation, data yang null akan diisi dengan nilai yang dianggap sebagai rangkuman dari data (yang merepresentasikan data), seperti mean, modus, atau median.*

Di sini kita akan melakukan data imputation dengan nilai mean dari data

In [14]:
imputer = SimpleImputer(strategy = 'mean', missing_values = np.nan)
imputer.fit([df['T'],df['P'],df['QRST'],df['J'],df['heartrate']])
df['T'],df['P'],df['QRST'],df['J'],df['heartrate'] = imputer.transform([df['T'],df['P'],df['QRST'],df['J'],df['heartrate']])

In [15]:
df

,age,sex,height,weight,QRSduration,PRinterval,Q-Tinterval,Tinterval,Pinterval,QRS,...,chV6_QwaveAmp,chV6_RwaveAmp,chV6_SwaveAmp,chV6_RPwaveAmp,chV6_SPwaveAmp,chV6_PwaveAmp,chV6_TwaveAmp,chV6_QRSA,chV6_QRSTA,class
0,75,0,190,80,91,193,371,174,121,-16,...,0.0,9.0,-0.9,0.0,0.0,0.9,2.9,23.3,49.4,8
1,56,1,165,64,81,174,401,149,39,25,...,0.0,8.5,0.0,0.0,0.0,0.2,2.1,20.4,38.8,6
2,54,0,172,95,138,163,386,185,102,96,...,0.0,9.5,-2.4,0.0,0.0,0.3,3.4,12.3,49.0,10
3,55,0,175,94,100,202,380,179,143,28,...,0.0,12.2,-2.2,0.0,0.0,0.4,2.6,34.6,61.6,1
4,75,0,190,80,88,181,360,177,103,-16,...,0.0,13.1,-3.6,0.0,0.0,-0.1,3.9,25.4,62.8,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447,53,1,160,70,80,199,382,154,117,-37,...,0.0,4.3,-5.0,0.0,0.0,0.7,0.6,-4.4,-0.5,1
448,37,0,190,85,100,137,361,201,73,86,...,0.0,15.6,-1.6,0.0,0.0,0.4,2.4,38.0,62.4,10
449,36,0,166,68,108,176,365,194,116,-85,...,0.0,16.3,-28.6,0.0,0.0,1.5,1.0,-44.2,-33.2,2
450,32,1,155,55,93,106,386,218,63,54,...,-0.4,12.0,-0.7,0.0,0.0,0.5,2.4,25.0,46.6,1
451,78,1,160,70,79,127,364,138,78,28,...,0.0,10.4,-1.8,0.0,0.0,0.5,1.6,21.3,32.8,1

In [16]:
df.isna().sum()

age              0
sex              0
height           0
weight           0
QRSduration      0
                ..
chV6_PwaveAmp    0
chV6_TwaveAmp    0
chV6_QRSA        0
chV6_QRSTA       0
class            0
Length: 280, dtype: int64

In [17]:
df['T'].isna().sum()

0

In [18]:
df[df.columns[df.isnull().any()]]

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[452 rows x 0 columns]

## Data Quality

In [19]:
df.var()

age               271.149947
sex                 0.247959
height           1381.634181
weight            275.254729
QRSduration       236.064596
                    ...
chV6_PwaveAmp       0.120778
chV6_TwaveAmp       2.033624
chV6_QRSA         182.355902
chV6_QRSTA        342.025335
class              19.422503
Length: 280, dtype: float64

In [20]:
df.cov()

,age,sex,height,weight,QRSduration,PRinterval,Q-Tinterval,Tinterval,Pinterval,QRS,...,chV6_QwaveAmp,chV6_RwaveAmp,chV6_SwaveAmp,chV6_RPwaveAmp,chV6_SPwaveAmp,chV6_PwaveAmp,chV6_TwaveAmp,chV6_QRSA,chV6_QRSTA,class
age,271.149947,-0.484121,-66.995688,104.238835,-1.020034,30.384666,107.580274,15.052857,42.423631,-198.896229,...,1.489630,-9.035978,2.716198,0.074616,0.0,-0.216757,-6.375520,4.012061,-60.823721,-6.704109
sex,-0.484121,0.247959,-2.307816,-2.049708,-2.579087,-1.044370,1.197820,-3.277893,-1.042354,1.570796,...,0.063119,-0.073734,0.092612,0.000684,0.0,0.002459,0.046643,0.213081,0.429192,-0.390803
height,-66.995688,-2.307816,1381.634181,-46.225011,-3.614701,22.669677,-294.493741,-50.875110,27.863911,103.921188,...,-0.385114,-9.480002,-6.800065,-0.004742,0.0,0.874146,-0.449001,-45.361018,-63.404933,1.089035
weight,104.238835,-2.049708,-46.225011,275.254729,25.514707,89.146886,65.722809,88.669442,51.704344,-130.665473,...,0.459605,-1.551434,1.725748,0.039453,0.0,-0.266832,-3.423992,13.954301,-15.550640,-6.591576
QRSduration,-1.020034,-2.579087,-3.614701,25.514707,236.064596,15.041010,112.171811,217.587956,19.714322,-101.941526,...,-1.677701,4.876116,-7.035838,-0.010547,0.0,-0.350258,-4.867839,26.930022,-23.524975,21.930597
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
chV6_PwaveAmp,-0.216757,0.002459,0.874146,-0.266832,-0.350258,2.232765,-0.405750,0.608960,2.226764,1.294821,...,-0.016299,-0.009671,-0.064071,-0.000347,0.0,0.120778,-0.021463,-0.327816,-0.412440,-0.132372
chV6_TwaveAmp,-6.375520,0.046643,-0.449001,-3.423992,-4.867839,3.910994,-1.851220,-9.392874,0.591253,4.101025,...,0.091547,0.464291,-0.206766,-0.001264,0.0,-0.021463,2.033624,-2.387990,18.141597,-0.193555
chV6_QRSA,4.012061,0.213081,-45.361018,13.954301,26.930022,-16.768074,115.503650,62.651220,-5.707433,182.688939,...,0.019494,31.486039,15.219149,-0.034605,0.0,-0.327816,-2.387990,182.355902,152.646266,0.206895
chV6_QRSTA,-60.823721,0.429192,-63.404933,-15.550640,-23.524975,17.455537,93.218440,-9.509126,2.045573,214.422819,...,0.837837,35.991044,12.646112,-0.046035,0.0,-0.412440,18.141597,152.646266,342.025335,-0.755977
class,-6.704109,-0.390803,1.089035,-6.591576,21.930597,-19.753341,4.164590,15.330936,-13.886388,3.921414,...,-0.397483,0.553864,-0.631473,-0.008171,0.0,-0.132372,-0.193555,0.206895,-0.755977,19.422503

# Data Preprocessing

**Mendrop kolom dengan hanya satu nilai**

In [21]:
col1len = []
for col in df:
    if (len(df[col].unique()) == 1):
      col1len.append(col)
print(col1len)

['chDI_SPwave', 'chAVL_SPwave', 'chAVL_RRwaveExists', 'chAVF_RPwaveExists', 'chV4_RPwaveExists', 'chV4_DD_RPwaveExists', 'chV5_SPwave', 'chV5_RRwaveExists', 'chV5_RPwaveExists', 'chV5_RTwaveExists', 'chV6_SPwave', 'chV6_DD_RPwaveExists', 'chV6_RTwaveExists', 'chDI_SPwaveAmp', 'chAVL_SPwaveAmp', 'chV5_SPwaveAmp', 'chV6_SPwaveAmp']

In [22]:
df = df.drop(col1len, axis=1)

Data transformation using min max scaling

In [23]:
def minMaxScaling(df) :
    return (df.iloc[:,:280] - df.iloc[:,:280].min()) / (df.iloc[:,:280].max() - df.iloc[:,:280].min())
df_normalized = minMaxScaling(df)

In [24]:
df_normalized

,age,sex,height,weight,QRSduration,PRinterval,Q-Tinterval,Tinterval,Pinterval,QRS,...,chV6_JJwaveAmp,chV6_QwaveAmp,chV6_RwaveAmp,chV6_SwaveAmp,chV6_RPwaveAmp,chV6_PwaveAmp,chV6_TwaveAmp,chV6_QRSA,chV6_QRSTA,class
0,0.903614,0.0,0.125926,0.435294,0.270677,0.368321,0.501805,0.241758,0.590244,0.457478,...,0.638554,1.000000,0.381356,0.968531,0.0,0.53125,0.741667,0.507519,0.569579,0.466667
1,0.674699,1.0,0.088889,0.341176,0.195489,0.332061,0.610108,0.150183,0.190244,0.577713,...,0.614458,1.000000,0.360169,1.000000,0.0,0.31250,0.675000,0.485714,0.500971,0.333333
2,0.650602,0.0,0.099259,0.523529,0.624060,0.311069,0.555957,0.282051,0.497561,0.785924,...,0.783133,1.000000,0.402542,0.916084,0.0,0.34375,0.783333,0.424812,0.566990,0.600000
3,0.662651,0.0,0.103704,0.517647,0.338346,0.385496,0.534296,0.260073,0.697561,0.586510,...,0.686747,1.000000,0.516949,0.923077,0.0,0.37500,0.716667,0.592481,0.648544,0.000000
4,0.903614,0.0,0.125926,0.435294,0.248120,0.345420,0.462094,0.252747,0.502439,0.457478,...,0.626506,1.000000,0.555085,0.874126,0.0,0.21875,0.825000,0.523308,0.656311,0.400000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447,0.638554,1.0,0.081481,0.376471,0.187970,0.379771,0.541516,0.168498,0.570732,0.395894,...,0.674699,1.000000,0.182203,0.825175,0.0,0.46875,0.550000,0.299248,0.246602,0.000000
448,0.445783,0.0,0.125926,0.464706,0.338346,0.261450,0.465704,0.340659,0.356098,0.756598,...,0.614458,1.000000,0.661017,0.944056,0.0,0.37500,0.700000,0.618045,0.653722,0.600000
449,0.433735,0.0,0.090370,0.364706,0.398496,0.335878,0.480144,0.315018,0.565854,0.255132,...,0.819277,1.000000,0.690678,0.000000,0.0,0.71875,0.583333,0.000000,0.034951,0.066667
450,0.385542,1.0,0.074074,0.288235,0.285714,0.202290,0.555957,0.402930,0.307317,0.662757,...,0.698795,0.902439,0.508475,0.975524,0.0,0.40625,0.700000,0.520301,0.551456,0.000000
451,0.939759,1.0,0.081481,0.376471,0.180451,0.242366,0.476534,0.109890,0.380488,0.586510,...,0.638554,1.000000,0.440678,0.937063,0.0,0.40625,0.633333,0.492481,0.462136,0.000000

Dimentionality reduction

In [25]:
df = df_normalized

In [26]:
df.shape

(452, 263)

Dimensi data terlalu besar, sehingga diperlukan untuk reduksi dimensi. Salah satu caranya adalah dengan feature selection

In [27]:
y = df['class']

In [28]:
y

0      0.466667
1      0.333333
2      0.600000
3      0.000000
4      0.400000
         ...
447    0.000000
448    0.600000
449    0.066667
450    0.000000
451    0.000000
Name: class, Length: 452, dtype: float64

In [29]:
df

,age,sex,height,weight,QRSduration,PRinterval,Q-Tinterval,Tinterval,Pinterval,QRS,...,chV6_JJwaveAmp,chV6_QwaveAmp,chV6_RwaveAmp,chV6_SwaveAmp,chV6_RPwaveAmp,chV6_PwaveAmp,chV6_TwaveAmp,chV6_QRSA,chV6_QRSTA,class
0,0.903614,0.0,0.125926,0.435294,0.270677,0.368321,0.501805,0.241758,0.590244,0.457478,...,0.638554,1.000000,0.381356,0.968531,0.0,0.53125,0.741667,0.507519,0.569579,0.466667
1,0.674699,1.0,0.088889,0.341176,0.195489,0.332061,0.610108,0.150183,0.190244,0.577713,...,0.614458,1.000000,0.360169,1.000000,0.0,0.31250,0.675000,0.485714,0.500971,0.333333
2,0.650602,0.0,0.099259,0.523529,0.624060,0.311069,0.555957,0.282051,0.497561,0.785924,...,0.783133,1.000000,0.402542,0.916084,0.0,0.34375,0.783333,0.424812,0.566990,0.600000
3,0.662651,0.0,0.103704,0.517647,0.338346,0.385496,0.534296,0.260073,0.697561,0.586510,...,0.686747,1.000000,0.516949,0.923077,0.0,0.37500,0.716667,0.592481,0.648544,0.000000
4,0.903614,0.0,0.125926,0.435294,0.248120,0.345420,0.462094,0.252747,0.502439,0.457478,...,0.626506,1.000000,0.555085,0.874126,0.0,0.21875,0.825000,0.523308,0.656311,0.400000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447,0.638554,1.0,0.081481,0.376471,0.187970,0.379771,0.541516,0.168498,0.570732,0.395894,...,0.674699,1.000000,0.182203,0.825175,0.0,0.46875,0.550000,0.299248,0.246602,0.000000
448,0.445783,0.0,0.125926,0.464706,0.338346,0.261450,0.465704,0.340659,0.356098,0.756598,...,0.614458,1.000000,0.661017,0.944056,0.0,0.37500,0.700000,0.618045,0.653722,0.600000
449,0.433735,0.0,0.090370,0.364706,0.398496,0.335878,0.480144,0.315018,0.565854,0.255132,...,0.819277,1.000000,0.690678,0.000000,0.0,0.71875,0.583333,0.000000,0.034951,0.066667
450,0.385542,1.0,0.074074,0.288235,0.285714,0.202290,0.555957,0.402930,0.307317,0.662757,...,0.698795,0.902439,0.508475,0.975524,0.0,0.40625,0.700000,0.520301,0.551456,0.000000
451,0.939759,1.0,0.081481,0.376471,0.180451,0.242366,0.476534,0.109890,0.380488,0.586510,...,0.638554,1.000000,0.440678,0.937063,0.0,0.40625,0.633333,0.492481,0.462136,0.000000

In [30]:
X = df.iloc[:,:-1]

In [31]:
X

,age,sex,height,weight,QRSduration,PRinterval,Q-Tinterval,Tinterval,Pinterval,QRS,...,chV5_QRSTA,chV6_JJwaveAmp,chV6_QwaveAmp,chV6_RwaveAmp,chV6_SwaveAmp,chV6_RPwaveAmp,chV6_PwaveAmp,chV6_TwaveAmp,chV6_QRSA,chV6_QRSTA
0,0.903614,0.0,0.125926,0.435294,0.270677,0.368321,0.501805,0.241758,0.590244,0.457478,...,0.660574,0.638554,1.000000,0.381356,0.968531,0.0,0.53125,0.741667,0.507519,0.569579
1,0.674699,1.0,0.088889,0.341176,0.195489,0.332061,0.610108,0.150183,0.190244,0.577713,...,0.558747,0.614458,1.000000,0.360169,1.000000,0.0,0.31250,0.675000,0.485714,0.500971
2,0.650602,0.0,0.099259,0.523529,0.624060,0.311069,0.555957,0.282051,0.497561,0.785924,...,0.583812,0.783133,1.000000,0.402542,0.916084,0.0,0.34375,0.783333,0.424812,0.566990
3,0.662651,0.0,0.103704,0.517647,0.338346,0.385496,0.534296,0.260073,0.697561,0.586510,...,0.687206,0.686747,1.000000,0.516949,0.923077,0.0,0.37500,0.716667,0.592481,0.648544
4,0.903614,0.0,0.125926,0.435294,0.248120,0.345420,0.462094,0.252747,0.502439,0.457478,...,0.587467,0.626506,1.000000,0.555085,0.874126,0.0,0.21875,0.825000,0.523308,0.656311
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447,0.638554,1.0,0.081481,0.376471,0.187970,0.379771,0.541516,0.168498,0.570732,0.395894,...,0.328982,0.674699,1.000000,0.182203,0.825175,0.0,0.46875,0.550000,0.299248,0.246602
448,0.445783,0.0,0.125926,0.464706,0.338346,0.261450,0.465704,0.340659,0.356098,0.756598,...,0.762924,0.614458,1.000000,0.661017,0.944056,0.0,0.37500,0.700000,0.618045,0.653722
449,0.433735,0.0,0.090370,0.364706,0.398496,0.335878,0.480144,0.315018,0.565854,0.255132,...,0.000000,0.819277,1.000000,0.690678,0.000000,0.0,0.71875,0.583333,0.000000,0.034951
450,0.385542,1.0,0.074074,0.288235,0.285714,0.202290,0.555957,0.402930,0.307317,0.662757,...,0.650653,0.698795,0.902439,0.508475,0.975524,0.0,0.40625,0.700000,0.520301,0.551456
451,0.939759,1.0,0.081481,0.376471,0.180451,0.242366,0.476534,0.109890,0.380488,0.586510,...,0.535248,0.638554,1.000000,0.440678,0.937063,0.0,0.40625,0.633333,0.492481,0.462136

In [32]:
df[df.columns[df.isnull().any()]]

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[452 rows x 0 columns]

In [40]:
pca = PCA(n_components=3)
 
pca_features = pca.fit_transform(X)
 
print('Shape before PCA: ', X.shape)
print('Shape after PCA: ', pca_features.shape)
 
pca_df = pd.DataFrame(
    data=pca_features, 
    columns=['PC1', 'PC2', 'PC3'])

Shape before PCA:  (452, 262)
Shape after PCA:  (452, 3)

In [42]:
pca.explained_variance_

array([0.44436385, 0.36521514, 0.25761954])

In [43]:
pca_df

          PC1       PC2       PC3
0    0.198467  0.231856  0.503335
1   -0.145089 -0.777654  0.086542
2   -0.346589  1.301428 -1.186825
3    0.272352  0.215602  0.182160
4    0.447685  0.405675  0.082007
..        ...       ...       ...
447  1.255942 -0.386722 -0.359294
448 -0.824452  0.363116 -0.186895
449  2.094500  1.277805 -0.529053
450 -0.611348 -0.635555  0.074259
451 -0.161345 -0.282016 -0.295412

[452 rows x 3 columns]

In [46]:
corr_matrix=df.corr()
corr_matrix["class"].sort_values(ascending=True)

chDI_SwaveAmp                -0.197555
chV3_SwaveAmp                -0.189458
sex                          -0.178080
chDI_QRSTA                   -0.171763
chV6_QwaveAmp                -0.164321
                                ...
chV2_RPwave                   0.282523
chV1_intrinsicReflecttions    0.313982
QRSduration                   0.323879
chV1_RPwave                   0.368876
class                         1.000000
Name: class, Length: 263, dtype: float64

# EDA

## @Info tentang dataset

In [ ]:
df.info(verbose=True, show_counts=True)

In [ ]:
df.head(3)

In [ ]:
df.tail(3)