<a href="https://colab.research.google.com/github/khalilullahalfaath/case_based_1_ML/blob/main/Case_based_1_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# library untuk preprocessing
from sklearn.impute import SimpleImputer # untuk data imputation

# Kolum nama sudah terset [Hanya untuk referensi]

In [30]:
df_csv = pd.read_csv('https://github.com/khalilullahalfaath/case_based_1_ML/blob/ece335d372e8c3c2e1f525460dcd2624f6ad85d8/arrhythmia_csv.csv?raw=true')

In [31]:
df_csv

,age,sex,height,weight,QRSduration,PRinterval,Q-Tinterval,Tinterval,Pinterval,QRS,...,chV6_QwaveAmp,chV6_RwaveAmp,chV6_SwaveAmp,chV6_RPwaveAmp,chV6_SPwaveAmp,chV6_PwaveAmp,chV6_TwaveAmp,chV6_QRSA,chV6_QRSTA,class
0,75,0,190,80,91,193,371,174,121,-16,...,0.0,9.0,-0.9,0.0,0.0,0.9,2.9,23.3,49.4,8
1,56,1,165,64,81,174,401,149,39,25,...,0.0,8.5,0.0,0.0,0.0,0.2,2.1,20.4,38.8,6
2,54,0,172,95,138,163,386,185,102,96,...,0.0,9.5,-2.4,0.0,0.0,0.3,3.4,12.3,49.0,10
3,55,0,175,94,100,202,380,179,143,28,...,0.0,12.2,-2.2,0.0,0.0,0.4,2.6,34.6,61.6,1
4,75,0,190,80,88,181,360,177,103,-16,...,0.0,13.1,-3.6,0.0,0.0,-0.1,3.9,25.4,62.8,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447,53,1,160,70,80,199,382,154,117,-37,...,0.0,4.3,-5.0,0.0,0.0,0.7,0.6,-4.4,-0.5,1
448,37,0,190,85,100,137,361,201,73,86,...,0.0,15.6,-1.6,0.0,0.0,0.4,2.4,38.0,62.4,10
449,36,0,166,68,108,176,365,194,116,-85,...,0.0,16.3,-28.6,0.0,0.0,1.5,1.0,-44.2,-33.2,2
450,32,1,155,55,93,106,386,218,63,54,...,-0.4,12.0,-0.7,0.0,0.0,0.5,2.4,25.0,46.6,1
451,78,1,160,70,79,127,364,138,78,28,...,0.0,10.4,-1.8,0.0,0.0,0.5,1.6,21.3,32.8,1

In [32]:
df_csv.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 452 entries, 0 to 451
Data columns (total 280 columns):
 #    Column                        Non-Null Count  Dtype
---   ------                        --------------  -----
 0    age                           452 non-null    int64
 1    sex                           452 non-null    int64
 2    height                        452 non-null    int64
 3    weight                        452 non-null    int64
 4    QRSduration                   452 non-null    int64
 5    PRinterval                    452 non-null    int64
 6    Q-Tinterval                   452 non-null    int64
 7    Tinterval                     452 non-null    int64
 8    Pinterval                     452 non-null    int64
 9    QRS                           452 non-null    int64
 10   T                             444 non-null    float64
 11   P                             430 non-null    float64
 12   QRST                          451 non-null    float64
 13   J                             76 non-null     float64
 14   heartrate                     451 non-null    float64
 15   chDI_Qwave                    452 non-null    int64
 16   chDI_Rwave                    452 non-null    int64
 17   chDI_Swave                    452 non-null    int64
 18   chDI_RPwave                   452 non-null    int64
 19   chDI_SPwave                   452 non-null    int64
 20   chDI_intrinsicReflecttions    452 non-null    int64
 21   chDI_RRwaveExists             452 non-null    int64
 22   chDI_DD_RRwaveExists          452 non-null    int64
 23   chDI_RPwaveExists             452 non-null    int64
 24   chDI_DD_RPwaveExists          452 non-null    int64
 25   chDI_RTwaveExists             452 non-null    int64
 26   chDI_DD_RTwaveExists          452 non-null    int64
 27   chDII_Qwave                   452 non-null    int64
 28   chDII_Rwave                   452 non-null    int64
 29   chDII_Swave                   452 non-null    int64
 30   chDII_RPwave                  452 non-null    int64
 31   chDII_SPwave                  452 non-null    int64
 32   chDII_intrinsicReflecttions   452 non-null    int64
 33   chDII_RRwaveExists            452 non-null    int64
 34   chDII_DD_RRwaveExists         452 non-null    int64
 35   chDII_RPwaveExists            452 non-null    int64
 36   chDII_DD_RPwaveExists         452 non-null    int64
 37   chDII_RTwaveExists            452 non-null    int64
 38   chDII_DD_RTwaveExists         452 non-null    int64
 39   chDIII_Qwave                  452 non-null    int64
 40   chDIII_Rwave                  452 non-null    int64
 41   chDIII_Swave                  452 non-null    int64
 42   chDIII_RPwave                 452 non-null    int64
 43   chDIII_SPwave                 452 non-null    int64
 44   chDIII_intrinsicReflecttions  452 non-null    int64
 45   chDIII_RRwaveExists           452 non-null    int64
 46   chDIII_DD_RRwaveExists        452 non-null    int64
 47   chDIII_RPwaveExists           452 non-null    int64
 48   chDIII_DD_RPwaveExists        452 non-null    int64
 49   chDIII_RTwaveExists           452 non-null    int64
 50   chDIII_DD_RTwaveExists        452 non-null    int64
 51   chAVR_Qwave                   452 non-null    int64
 52   chAVR_Rwave                   452 non-null    int64
 53   chAVR_Swave                   452 non-null    int64
 54   chAVR_RPwave                  452 non-null    int64
 55   chAVR_SPwave                  452 non-null    int64
 56   chAVR_intrinsicReflecttions   452 non-null    int64
 57   chAVR_RRwaveExists            452 non-null    int64
 58   chAVR_DD_RRwaveExists         452 non-null    int64
 59   chAVR_RPwaveExists            452 non-null    int64
 60   chAVR_DD_RPwaveExists         452 non-null    int64
 61   chAVR_RTwaveExists            452 non-null    int64
 62   chAVR_DD_RTwaveExists         452 non-null    int64
 63   chAVL_Qwave                   452 non-null    int64
 64   chAVL_Rwave                   452 non-null    int64
 65   chAVL_Swave                   452 non-null    int64
 66   chAVL_RPwave                  452 non-null    int64
 67   chAVL_SPwave                  452 non-null    int64
 68   chAVL_intrinsicReflecttions   452 non-null    int64
 69   chAVL_RRwaveExists            452 non-null    int64
 70   chAVL_DD_RRwaveExists         452 non-null    int64
 71   chAVL_RPwaveExists            452 non-null    int64
 72   chAVL_DD_RPwaveExists         452 non-null    int64
 73   chAVL_RTwaveExists            452 non-null    int64
 74   chAVL_DD_RTwaveExists         452 non-null    int64
 75   chAVF_Qwave                   452 non-null    int64
 76   chAVF_Rwave                   452 non-null    int64
 77   chAVF_Swave                   452 non-null    int64
 78   chAVF_RPwave                  452 non-null    int64
 79   chAVF_SPwave                  452 non-null    int64
 80   chAVF_intrinsicReflecttions   452 non-null    int64
 81   chAVF_RRwaveExists            452 non-null    int64
 82   chAVF_DD_RRwaveExists         452 non-null    int64
 83   chAVF_RPwaveExists            452 non-null    int64
 84   chAVF_DD_RPwaveExists         452 non-null    int64
 85   chAVF_RTwaveExists            452 non-null    int64
 86   chAVF_DD_RTwaveExists         452 non-null    int64
 87   chV1_Qwave                    452 non-null    int64
 88   chV1_Rwave                    452 non-null    int64
 89   chV1_Swave                    452 non-null    int64
 90   chV1_RPwave                   452 non-null    int64
 91   chV1_SPwave                   452 non-null    int64
 92   chV1_intrinsicReflecttions    452 non-null    int64
 93   chV1_RRwaveExists             452 non-null    int64
 94   chV1_DD_RRwaveExists          452 non-null    int64
 95   chV1_RPwaveExists             452 non-null    int64
 96   chV1_DD_RPwaveExists          452 non-null    int64
 97   chV1_RTwaveExists             452 non-null    int64
 98   chV1_DD_RTwaveExists          452 non-null    int64
 99   chV2_Qwave                    452 non-null    int64
 100  chV2_Rwave                    452 non-null    int64
 101  chV2_Swave                    452 non-null    int64
 102  chV2_RPwave                   452 non-null    int64
 103  chV2_SPwave                   452 non-null    int64
 104  chV2_intrinsicReflecttions    452 non-null    int64
 105  chV2_RRwaveExists             452 non-null    int64
 106  chV2_DD_RRwaveExists          452 non-null    int64
 107  chV2_RPwaveExists             452 non-null    int64
 108  chV2_DD_RPwaveExists          452 non-null    int64
 109  chV2_RTwaveExists             452 non-null    int64
 110  chV2_DD_RTwaveExists          452 non-null    int64
 111  chV3_Qwave                    452 non-null    int64
 112  chV3_Rwave                    452 non-null    int64
 113  chV3_Swave                    452 non-null    int64
 114  chV3_RPwave                   452 non-null    int64
 115  chV3_SPwave                   452 non-null    int64
 116  chV3_intrinsicReflecttions    452 non-null    int64
 117  chV3_RRwaveExists             452 non-null    int64
 118  chV3_DD_RRwaveExists          452 non-null    int64
 119  chV3_RPwaveExists             452 non-null    int64
 120  chV3_DD_RPwaveExists          452 non-null    int64
 121  chV3_RTwaveExists             452 non-null    int64
 122  chV3_DD_RTwaveExists          452 non-null    int64
 123  chV4_Qwave                    452 non-null    int64
 124  chV4_Rwave                    452 non-null    int64
 125  chV4_Swave                    452 non-null    int64
 126  chV4_RPwave                   452 non-null    int64
 127  chV4_SPwave                   452 non-null    int64
 128  chV4_intrinsicReflecttions    452 non-null    int64
 129  chV4_RRwaveExists             452 non-null    int64
 130  chV4_DD_RRwaveExists          452 non-null    int64
 131  chV4_RPwaveExists             452 non-null    int64
 132  chV4_DD_RPwaveExists          452 non-null    int64
 133  chV4_RTwaveExists             452 non-null    int64
 134  chV4_DD_RTwaveExists          452 non-null    int64
 135  chV5_Qwave                    452 non-null    int64
 136  chV5_Rwave                    452 non-null    int64
 137  chV5_Swave                    452 non-null    int64
 138  chV5_RPwave                   452 non-null    int64
 139  chV5_SPwave                   452 non-null    int64
 140  chV5_intrinsicReflecttions    452 non-null    int64
 141  chV5_RRwaveExists             452 non-null    int64
 142  chV5_DD_RRwaveExists          452 non-null    int64
 143  chV5_RPwaveExists             452 non-null    int64
 144  chV5_DD_RPwaveExists          452 non-null    int64
 145  chV5_RTwaveExists             452 non-null    int64
 146  chV5_DD_RTwaveExists          452 non-null    int64
 147  chV6_Qwave                    452 non-null    int64
 148  chV6_Rwave                    452 non-null    int64
 149  chV6_Swave                    452 non-null    int64
 150  chV6_RPwave                   452 non-null    int64
 151  chV6_SPwave                   452 non-null    int64
 152  chV6_intrinsicReflecttions    452 non-null    int64
 153  chV6_RRwaveExists             452 non-null    int64
 154  chV6_DD_RRwaveExists          452 non-null    int64
 155  chV6_RPwaveExists             452 non-null    int64
 156  chV6_DD_RPwaveExists          452 non-null    int64
 157  chV6_RTwaveExists             452 non-null    int64
 158  chV6_DD_RTwaveExists          452 non-null    int64
 159  chDI_JJwaveAmp                452 non-null    float64
 160  chDI_QwaveAmp                 452 non-null    float64
 161  chDI_RwaveAmp                 452 non-null    float64
 162  chDI_SwaveAmp                 452 non-null    float64
 163  chDI_RPwaveAmp                452 non-null    float64
 164  chDI_SPwaveAmp                452 non-null    float64
 165  chDI_PwaveAmp                 452 non-null    float64
 166  chDI_TwaveAmp                 452 non-null    float64
 167  chDI_QRSA                     452 non-null    float64
 168  chDI_QRSTA                    452 non-null    float64
 169  chDII_JJwaveAmp               452 non-null    float64
 170  chDII_QwaveAmp                452 non-null    float64
 171  chDII_RwaveAmp                452 non-null    float64
 172  chDII_SwaveAmp                452 non-null    float64
 173  chDII_RPwaveAmp               452 non-null    float64
 174  chDII_SPwaveAmp               452 non-null    float64
 175  chDII_PwaveAmp                452 non-null    float64
 176  chDII_TwaveAmp                452 non-null    float64
 177  chDII_QRSA                    452 non-null    float64
 178  chDII_QRSTA                   452 non-null    float64
 179  chDIII_JJwaveAmp              452 non-null    float64
 180  chDIII_QwaveAmp               452 non-null    float64
 181  chDIII_RwaveAmp               452 non-null    float64
 182  chDIII_SwaveAmp               452 non-null    float64
 183  chDIII_RPwaveAmp              452 non-null    float64
 184  chDIII_SPwaveAmp              452 non-null    float64
 185  chDIII_PwaveAmp               452 non-null    float64
 186  chDIII_TwaveAmp               452 non-null    float64
 187  chDIII_QRSA                   452 non-null    float64
 188  chDIII_QRSTA                  452 non-null    float64
 189  chAVR_JJwaveAmp               452 non-null    float64
 190  chAVR_QwaveAmp                452 non-null    float64
 191  chAVR_RwaveAmp                452 non-null    float64
 192  chAVR_SwaveAmp                452 non-null    float64
 193  chAVR_RPwaveAmp               452 non-null    float64
 194  chAVR_SPwaveAmp               452 non-null    float64
 195  chAVR_PwaveAmp                452 non-null    float64
 196  chAVR_TwaveAmp                452 non-null    float64
 197  chAVR_QRSA                    452 non-null    float64
 198  chAVR_QRSTA                   452 non-null    float64
 199  chAVL_JJwaveAmp               452 non-null    float64
 200  chAVL_QwaveAmp                452 non-null    float64
 201  chAVL_RwaveAmp                452 non-null    float64
 202  chAVL_SwaveAmp                452 non-null    float64
 203  chAVL_RPwaveAmp               452 non-null    float64
 204  chAVL_SPwaveAmp               452 non-null    float64
 205  chAVL_PwaveAmp                452 non-null    float64
 206  chAVL_TwaveAmp                452 non-null    float64
 207  chAVL_QRSA                    452 non-null    float64
 208  chAVL_QRSTA                   452 non-null    float64
 209  chAVF_JJwaveAmp               452 non-null    float64
 210  chAVF_QwaveAmp                452 non-null    float64
 211  chAVF_RwaveAmp                452 non-null    float64
 212  chAVF_SwaveAmp                452 non-null    float64
 213  chAVF_RPwaveAmp               452 non-null    float64
 214  chAVF_SPwaveAmp               452 non-null    float64
 215  chAVF_PwaveAmp                452 non-null    float64
 216  chAVF_TwaveAmp                452 non-null    float64
 217  chAVF_QRSA                    452 non-null    float64
 218  chAVF_QRSTA                   452 non-null    float64
 219  chV1_JJwaveAmp                452 non-null    float64
 220  chV1_QwaveAmp                 452 non-null    float64
 221  chV1_RwaveAmp                 452 non-null    float64
 222  chV1_SwaveAmp                 452 non-null    float64
 223  chV1_RPwaveAmp                452 non-null    float64
 224  chV1_SPwaveAmp                452 non-null    float64
 225  chV1_PwaveAmp                 452 non-null    float64
 226  chV1_TwaveAmp                 452 non-null    float64
 227  chV1_QRSA                     452 non-null    float64
 228  chV1_QRSTA                    452 non-null    float64
 229  chV2_JJwaveAmp                452 non-null    float64
 230  chV2_QwaveAmp                 452 non-null    float64
 231  chV2_RwaveAmp                 452 non-null    float64
 232  chV2_SwaveAmp                 452 non-null    float64
 233  chV2_RPwaveAmp                452 non-null    float64
 234  chV2_SPwaveAmp                452 non-null    float64
 235  chV2_PwaveAmp                 452 non-null    float64
 236  chV2_TwaveAmp                 452 non-null    float64
 237  chV2_QRSA                     452 non-null    float64
 238  chV2_QRSTA                    452 non-null    float64
 239  chV3_JJwaveAmp                452 non-null    float64
 240  chV3_QwaveAmp                 452 non-null    float64
 241  chV3_RwaveAmp                 452 non-null    float64
 242  chV3_SwaveAmp                 452 non-null    float64
 243  chV3_RPwaveAmp                452 non-null    float64
 244  chV3_SPwaveAmp                452 non-null    float64
 245  chV3_PwaveAmp                 452 non-null    float64
 246  chV3_TwaveAmp                 452 non-null    float64
 247  chV3_QRSA                     452 non-null    float64
 248  chV3_QRSTA                    452 non-null    float64
 249  chV4_JJwaveAmp                452 non-null    float64
 250  chV4_QwaveAmp                 452 non-null    float64
 251  chV4_RwaveAmp                 452 non-null    float64
 252  chV4_SwaveAmp                 452 non-null    float64
 253  chV4_RPwaveAmp                452 non-null    float64
 254  chV4_SPwaveAmp                452 non-null    float64
 255  chV4_PwaveAmp                 452 non-null    float64
 256  chV4_TwaveAmp                 452 non-null    float64
 257  chV4_QRSA                     452 non-null    float64
 258  chV4_QRSTA                    452 non-null    float64
 259  chV5_JJwaveAmp                452 non-null    float64
 260  chV5_QwaveAmp                 452 non-null    float64
 261  chV5_RwaveAmp                 452 non-null    float64
 262  chV5_SwaveAmp                 452 non-null    float64
 263  chV5_RPwaveAmp                452 non-null    float64
 264  chV5_SPwaveAmp                452 non-null    float64
 265  chV5_PwaveAmp                 452 non-null    float64
 266  chV5_TwaveAmp                 452 non-null    float64
 267  chV5_QRSA                     452 non-null    float64
 268  chV5_QRSTA                    452 non-null    float64
 269  chV6_JJwaveAmp                452 non-null    float64
 270  chV6_QwaveAmp                 452 non-null    float64
 271  chV6_RwaveAmp                 452 non-null    float64
 272  chV6_SwaveAmp                 452 non-null    float64
 273  chV6_RPwaveAmp                452 non-null    float64
 274  chV6_SPwaveAmp                452 non-null    float64
 275  chV6_PwaveAmp                 452 non-null    float64
 276  chV6_TwaveAmp                 452 non-null    float64
 277  chV6_QRSA                     452 non-null    float64
 278  chV6_QRSTA                    452 non-null    float64
 279  class                         452 non-null    int64
dtypes: float64(125), int64(155)
memory usage: 988.9 KB

# Nama kolom belum terset. Sesuai yang ada di UCI 
Arrhythmia Data Set

In [33]:
df = pd.read_csv('https://github.com/khalilullahalfaath/case_based_1_ML/blob/ece335d372e8c3c2e1f525460dcd2624f6ad85d8/arrhythmia.data?raw=true',header = None)

https://github.com/khalilullahalfaath/case_based_1_ML/blob/ece335d372e8c3c2e1f525460dcd2624f6ad85d8/arrhythmia.data

In [34]:
df

,0,1,2,3,4,5,6,7,8,9,...,270,271,272,273,274,275,276,277,278,279
0,75,0,190,80,91,193,371,174,121,-16,...,0.0,9.0,-0.9,0.0,0.0,0.9,2.9,23.3,49.4,8
1,56,1,165,64,81,174,401,149,39,25,...,0.0,8.5,0.0,0.0,0.0,0.2,2.1,20.4,38.8,6
2,54,0,172,95,138,163,386,185,102,96,...,0.0,9.5,-2.4,0.0,0.0,0.3,3.4,12.3,49.0,10
3,55,0,175,94,100,202,380,179,143,28,...,0.0,12.2,-2.2,0.0,0.0,0.4,2.6,34.6,61.6,1
4,75,0,190,80,88,181,360,177,103,-16,...,0.0,13.1,-3.6,0.0,0.0,-0.1,3.9,25.4,62.8,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447,53,1,160,70,80,199,382,154,117,-37,...,0.0,4.3,-5.0,0.0,0.0,0.7,0.6,-4.4,-0.5,1
448,37,0,190,85,100,137,361,201,73,86,...,0.0,15.6,-1.6,0.0,0.0,0.4,2.4,38.0,62.4,10
449,36,0,166,68,108,176,365,194,116,-85,...,0.0,16.3,-28.6,0.0,0.0,1.5,1.0,-44.2,-33.2,2
450,32,1,155,55,93,106,386,218,63,54,...,-0.4,12.0,-0.7,0.0,0.0,0.5,2.4,25.0,46.6,1
451,78,1,160,70,79,127,364,138,78,28,...,0.0,10.4,-1.8,0.0,0.0,0.5,1.6,21.3,32.8,1

Di sini nama kolom terdiri atas record pertama. Sehingga nama kolom harus dilabeli secara manual

# Preprocessing

## Set column name

Daftar nama kolom sesuai yang ada di data.name

In [35]:
columnName = "age	sex	height	weight	QRSduration	PRinterval	Q-Tinterval	Tinterval	Pinterval	QRS	T	P	QRST	J	heartrate	chDI_Qwave	chDI_Rwave	chDI_Swave	chDI_RPwave	chDI_SPwave	chDI_intrinsicReflecttions	chDI_RRwaveExists	chDI_DD_RRwaveExists	chDI_RPwaveExists	chDI_DD_RPwaveExists	chDI_RTwaveExists	chDI_DD_RTwaveExists	chDII_Qwave	chDII_Rwave	chDII_Swave	chDII_RPwave	chDII_SPwave	chDII_intrinsicReflecttions	chDII_RRwaveExists	chDII_DD_RRwaveExists	chDII_RPwaveExists	chDII_DD_RPwaveExists	chDII_RTwaveExists	chDII_DD_RTwaveExists	chDIII_Qwave	chDIII_Rwave	chDIII_Swave	chDIII_RPwave	chDIII_SPwave	chDIII_intrinsicReflecttions	chDIII_RRwaveExists	chDIII_DD_RRwaveExists	chDIII_RPwaveExists	chDIII_DD_RPwaveExists	chDIII_RTwaveExists	chDIII_DD_RTwaveExists	chAVR_Qwave	chAVR_Rwave	chAVR_Swave	chAVR_RPwave	chAVR_SPwave	chAVR_intrinsicReflecttions	chAVR_RRwaveExists	chAVR_DD_RRwaveExists	chAVR_RPwaveExists	chAVR_DD_RPwaveExists	chAVR_RTwaveExists	chAVR_DD_RTwaveExists	chAVL_Qwave	chAVL_Rwave	chAVL_Swave	chAVL_RPwave	chAVL_SPwave	chAVL_intrinsicReflecttions	chAVL_RRwaveExists	chAVL_DD_RRwaveExists	chAVL_RPwaveExists	chAVL_DD_RPwaveExists	chAVL_RTwaveExists	chAVL_DD_RTwaveExists	chAVF_Qwave	chAVF_Rwave	chAVF_Swave	chAVF_RPwave	chAVF_SPwave	chAVF_intrinsicReflecttions	chAVF_RRwaveExists	chAVF_DD_RRwaveExists	chAVF_RPwaveExists	chAVF_DD_RPwaveExists	chAVF_RTwaveExists	chAVF_DD_RTwaveExists	chV1_Qwave	chV1_Rwave	chV1_Swave	chV1_RPwave	chV1_SPwave	chV1_intrinsicReflecttions	chV1_RRwaveExists	chV1_DD_RRwaveExists	chV1_RPwaveExists	chV1_DD_RPwaveExists	chV1_RTwaveExists	chV1_DD_RTwaveExists	chV2_Qwave	chV2_Rwave	chV2_Swave	chV2_RPwave	chV2_SPwave	chV2_intrinsicReflecttions	chV2_RRwaveExists	chV2_DD_RRwaveExists	chV2_RPwaveExists	chV2_DD_RPwaveExists	chV2_RTwaveExists	chV2_DD_RTwaveExists	chV3_Qwave	chV3_Rwave	chV3_Swave	chV3_RPwave	chV3_SPwave	chV3_intrinsicReflecttions	chV3_RRwaveExists	chV3_DD_RRwaveExists	chV3_RPwaveExists	chV3_DD_RPwaveExists	chV3_RTwaveExists	chV3_DD_RTwaveExists	chV4_Qwave	chV4_Rwave	chV4_Swave	chV4_RPwave	chV4_SPwave	chV4_intrinsicReflecttions	chV4_RRwaveExists	chV4_DD_RRwaveExists	chV4_RPwaveExists	chV4_DD_RPwaveExists	chV4_RTwaveExists	chV4_DD_RTwaveExists	chV5_Qwave	chV5_Rwave	chV5_Swave	chV5_RPwave	chV5_SPwave	chV5_intrinsicReflecttions	chV5_RRwaveExists	chV5_DD_RRwaveExists	chV5_RPwaveExists	chV5_DD_RPwaveExists	chV5_RTwaveExists	chV5_DD_RTwaveExists	chV6_Qwave	chV6_Rwave	chV6_Swave	chV6_RPwave	chV6_SPwave	chV6_intrinsicReflecttions	chV6_RRwaveExists	chV6_DD_RRwaveExists	chV6_RPwaveExists	chV6_DD_RPwaveExists	chV6_RTwaveExists	chV6_DD_RTwaveExists	chDI_JJwaveAmp	chDI_QwaveAmp	chDI_RwaveAmp	chDI_SwaveAmp	chDI_RPwaveAmp	chDI_SPwaveAmp	chDI_PwaveAmp	chDI_TwaveAmp	chDI_QRSA	chDI_QRSTA	chDII_JJwaveAmp	chDII_QwaveAmp	chDII_RwaveAmp	chDII_SwaveAmp	chDII_RPwaveAmp	chDII_SPwaveAmp	chDII_PwaveAmp	chDII_TwaveAmp	chDII_QRSA	chDII_QRSTA	chDIII_JJwaveAmp	chDIII_QwaveAmp	chDIII_RwaveAmp	chDIII_SwaveAmp	chDIII_RPwaveAmp	chDIII_SPwaveAmp	chDIII_PwaveAmp	chDIII_TwaveAmp	chDIII_QRSA	chDIII_QRSTA	chAVR_JJwaveAmp	chAVR_QwaveAmp	chAVR_RwaveAmp	chAVR_SwaveAmp	chAVR_RPwaveAmp	chAVR_SPwaveAmp	chAVR_PwaveAmp	chAVR_TwaveAmp	chAVR_QRSA	chAVR_QRSTA	chAVL_JJwaveAmp	chAVL_QwaveAmp	chAVL_RwaveAmp	chAVL_SwaveAmp	chAVL_RPwaveAmp	chAVL_SPwaveAmp	chAVL_PwaveAmp	chAVL_TwaveAmp	chAVL_QRSA	chAVL_QRSTA	chAVF_JJwaveAmp	chAVF_QwaveAmp	chAVF_RwaveAmp	chAVF_SwaveAmp	chAVF_RPwaveAmp	chAVF_SPwaveAmp	chAVF_PwaveAmp	chAVF_TwaveAmp	chAVF_QRSA	chAVF_QRSTA	chV1_JJwaveAmp	chV1_QwaveAmp	chV1_RwaveAmp	chV1_SwaveAmp	chV1_RPwaveAmp	chV1_SPwaveAmp	chV1_PwaveAmp	chV1_TwaveAmp	chV1_QRSA	chV1_QRSTA	chV2_JJwaveAmp	chV2_QwaveAmp	chV2_RwaveAmp	chV2_SwaveAmp	chV2_RPwaveAmp	chV2_SPwaveAmp	chV2_PwaveAmp	chV2_TwaveAmp	chV2_QRSA	chV2_QRSTA	chV3_JJwaveAmp	chV3_QwaveAmp	chV3_RwaveAmp	chV3_SwaveAmp	chV3_RPwaveAmp	chV3_SPwaveAmp	chV3_PwaveAmp	chV3_TwaveAmp	chV3_QRSA	chV3_QRSTA	chV4_JJwaveAmp	chV4_QwaveAmp	chV4_RwaveAmp	chV4_SwaveAmp	chV4_RPwaveAmp	chV4_SPwaveAmp	chV4_PwaveAmp	chV4_TwaveAmp	chV4_QRSA	chV4_QRSTA	chV5_JJwaveAmp	chV5_QwaveAmp	chV5_RwaveAmp	chV5_SwaveAmp	chV5_RPwaveAmp	chV5_SPwaveAmp	chV5_PwaveAmp	chV5_TwaveAmp	chV5_QRSA	chV5_QRSTA	chV6_JJwaveAmp	chV6_QwaveAmp	chV6_RwaveAmp	chV6_SwaveAmp	chV6_RPwaveAmp	chV6_SPwaveAmp	chV6_PwaveAmp	chV6_TwaveAmp	chV6_QRSA	chV6_QRSTA	class"

Membuat list yang terdiri atas nama kolom dari string nama kolom

In [36]:
colName = columnName.split("\t")
print(colName)

['age', 'sex', 'height', 'weight', 'QRSduration', 'PRinterval', 'Q-Tinterval', 'Tinterval', 'Pinterval', 'QRS', 'T', 'P', 'QRST', 'J', 'heartrate', 'chDI_Qwave', 'chDI_Rwave', 'chDI_Swave', 'chDI_RPwave', 'chDI_SPwave', 'chDI_intrinsicReflecttions', 'chDI_RRwaveExists', 'chDI_DD_RRwaveExists', 'chDI_RPwaveExists', 'chDI_DD_RPwaveExists', 'chDI_RTwaveExists', 'chDI_DD_RTwaveExists', 'chDII_Qwave', 'chDII_Rwave', 'chDII_Swave', 'chDII_RPwave', 'chDII_SPwave', 'chDII_intrinsicReflecttions', 'chDII_RRwaveExists', 'chDII_DD_RRwaveExists', 'chDII_RPwaveExists', 'chDII_DD_RPwaveExists', 'chDII_RTwaveExists', 'chDII_DD_RTwaveExists', 'chDIII_Qwave', 'chDIII_Rwave', 'chDIII_Swave', 'chDIII_RPwave', 'chDIII_SPwave', 'chDIII_intrinsicReflecttions', 'chDIII_RRwaveExists', 'chDIII_DD_RRwaveExists', 'chDIII_RPwaveExists', 'chDIII_DD_RPwaveExists', 'chDIII_RTwaveExists', 'chDIII_DD_RTwaveExists', 'chAVR_Qwave', 'chAVR_Rwave', 'chAVR_Swave', 'chAVR_RPwave', 'chAVR_SPwave', 'chAVR_intrinsicReflecttions', 'chAVR_RRwaveExists', 'chAVR_DD_RRwaveExists', 'chAVR_RPwaveExists', 'chAVR_DD_RPwaveExists', 'chAVR_RTwaveExists', 'chAVR_DD_RTwaveExists', 'chAVL_Qwave', 'chAVL_Rwave', 'chAVL_Swave', 'chAVL_RPwave', 'chAVL_SPwave', 'chAVL_intrinsicReflecttions', 'chAVL_RRwaveExists', 'chAVL_DD_RRwaveExists', 'chAVL_RPwaveExists', 'chAVL_DD_RPwaveExists', 'chAVL_RTwaveExists', 'chAVL_DD_RTwaveExists', 'chAVF_Qwave', 'chAVF_Rwave', 'chAVF_Swave', 'chAVF_RPwave', 'chAVF_SPwave', 'chAVF_intrinsicReflecttions', 'chAVF_RRwaveExists', 'chAVF_DD_RRwaveExists', 'chAVF_RPwaveExists', 'chAVF_DD_RPwaveExists', 'chAVF_RTwaveExists', 'chAVF_DD_RTwaveExists', 'chV1_Qwave', 'chV1_Rwave', 'chV1_Swave', 'chV1_RPwave', 'chV1_SPwave', 'chV1_intrinsicReflecttions', 'chV1_RRwaveExists', 'chV1_DD_RRwaveExists', 'chV1_RPwaveExists', 'chV1_DD_RPwaveExists', 'chV1_RTwaveExists', 'chV1_DD_RTwaveExists', 'chV2_Qwave', 'chV2_Rwave', 'chV2_Swave', 'chV2_RPwave', 'chV2_SPwave', 'chV2_intrinsicReflecttions', 'chV2_RRwaveExists', 'chV2_DD_RRwaveExists', 'chV2_RPwaveExists', 'chV2_DD_RPwaveExists', 'chV2_RTwaveExists', 'chV2_DD_RTwaveExists', 'chV3_Qwave', 'chV3_Rwave', 'chV3_Swave', 'chV3_RPwave', 'chV3_SPwave', 'chV3_intrinsicReflecttions', 'chV3_RRwaveExists', 'chV3_DD_RRwaveExists', 'chV3_RPwaveExists', 'chV3_DD_RPwaveExists', 'chV3_RTwaveExists', 'chV3_DD_RTwaveExists', 'chV4_Qwave', 'chV4_Rwave', 'chV4_Swave', 'chV4_RPwave', 'chV4_SPwave', 'chV4_intrinsicReflecttions', 'chV4_RRwaveExists', 'chV4_DD_RRwaveExists', 'chV4_RPwaveExists', 'chV4_DD_RPwaveExists', 'chV4_RTwaveExists', 'chV4_DD_RTwaveExists', 'chV5_Qwave', 'chV5_Rwave', 'chV5_Swave', 'chV5_RPwave', 'chV5_SPwave', 'chV5_intrinsicReflecttions', 'chV5_RRwaveExists', 'chV5_DD_RRwaveExists', 'chV5_RPwaveExists', 'chV5_DD_RPwaveExists', 'chV5_RTwaveExists', 'chV5_DD_RTwaveExists', 'chV6_Qwave', 'chV6_Rwave', 'chV6_Swave', 'chV6_RPwave', 'chV6_SPwave', 'chV6_intrinsicReflecttions', 'chV6_RRwaveExists', 'chV6_DD_RRwaveExists', 'chV6_RPwaveExists', 'chV6_DD_RPwaveExists', 'chV6_RTwaveExists', 'chV6_DD_RTwaveExists', 'chDI_JJwaveAmp', 'chDI_QwaveAmp', 'chDI_RwaveAmp', 'chDI_SwaveAmp', 'chDI_RPwaveAmp', 'chDI_SPwaveAmp', 'chDI_PwaveAmp', 'chDI_TwaveAmp', 'chDI_QRSA', 'chDI_QRSTA', 'chDII_JJwaveAmp', 'chDII_QwaveAmp', 'chDII_RwaveAmp', 'chDII_SwaveAmp', 'chDII_RPwaveAmp', 'chDII_SPwaveAmp', 'chDII_PwaveAmp', 'chDII_TwaveAmp', 'chDII_QRSA', 'chDII_QRSTA', 'chDIII_JJwaveAmp', 'chDIII_QwaveAmp', 'chDIII_RwaveAmp', 'chDIII_SwaveAmp', 'chDIII_RPwaveAmp', 'chDIII_SPwaveAmp', 'chDIII_PwaveAmp', 'chDIII_TwaveAmp', 'chDIII_QRSA', 'chDIII_QRSTA', 'chAVR_JJwaveAmp', 'chAVR_QwaveAmp', 'chAVR_RwaveAmp', 'chAVR_SwaveAmp', 'chAVR_RPwaveAmp', 'chAVR_SPwaveAmp', 'chAVR_PwaveAmp', 'chAVR_TwaveAmp', 'chAVR_QRSA', 'chAVR_QRSTA', 'chAVL_JJwaveAmp', 'chAVL_QwaveAmp', 'chAVL_RwaveAmp', 'chAVL_SwaveAmp', 'chAVL_RPwaveAmp', 'chAVL_SPwaveAmp', 'chAVL_PwaveAmp', 'chAVL_TwaveAmp', 'chAVL_QRSA', 'chAVL_QRSTA', 'chAVF_JJwaveAmp', 'chAVF_QwaveAmp', 'chAVF_RwaveAmp', 'chAVF_SwaveAmp', 'chAVF_RPwaveAmp', 'chAVF_SPwaveAmp', 'chAVF_PwaveAmp', 'chAVF_TwaveAmp', 'chAVF_QRSA', 'chAVF_QRSTA', 'chV1_JJwaveAmp', 'chV1_QwaveAmp', 'chV1_RwaveAmp', 'chV1_SwaveAmp', 'chV1_RPwaveAmp', 'chV1_SPwaveAmp', 'chV1_PwaveAmp', 'chV1_TwaveAmp', 'chV1_QRSA', 'chV1_QRSTA', 'chV2_JJwaveAmp', 'chV2_QwaveAmp', 'chV2_RwaveAmp', 'chV2_SwaveAmp', 'chV2_RPwaveAmp', 'chV2_SPwaveAmp', 'chV2_PwaveAmp', 'chV2_TwaveAmp', 'chV2_QRSA', 'chV2_QRSTA', 'chV3_JJwaveAmp', 'chV3_QwaveAmp', 'chV3_RwaveAmp', 'chV3_SwaveAmp', 'chV3_RPwaveAmp', 'chV3_SPwaveAmp', 'chV3_PwaveAmp', 'chV3_TwaveAmp', 'chV3_QRSA', 'chV3_QRSTA', 'chV4_JJwaveAmp', 'chV4_QwaveAmp', 'chV4_RwaveAmp', 'chV4_SwaveAmp', 'chV4_RPwaveAmp', 'chV4_SPwaveAmp', 'chV4_PwaveAmp', 'chV4_TwaveAmp', 'chV4_QRSA', 'chV4_QRSTA', 'chV5_JJwaveAmp', 'chV5_QwaveAmp', 'chV5_RwaveAmp', 'chV5_SwaveAmp', 'chV5_RPwaveAmp', 'chV5_SPwaveAmp', 'chV5_PwaveAmp', 'chV5_TwaveAmp', 'chV5_QRSA', 'chV5_QRSTA', 'chV6_JJwaveAmp', 'chV6_QwaveAmp', 'chV6_RwaveAmp', 'chV6_SwaveAmp', 'chV6_RPwaveAmp', 'chV6_SPwaveAmp', 'chV6_PwaveAmp', 'chV6_TwaveAmp', 'chV6_QRSA', 'chV6_QRSTA', 'class']

Merename column

In [37]:
# Memasukkan columnName ke indeks paling akhir
df.loc[-1] = colName

# Menshifting indeks 1 kali
df.index = df.index + 1 

# Sort index
df = df.sort_index()

# Tukar column dengan indeks 0
df.columns,df.iloc[0] = df.iloc[0],df.columns

## Dataset yang sudah direname colomnnya

In [38]:
df

,age,sex,height,weight,QRSduration,PRinterval,Q-Tinterval,Tinterval,Pinterval,QRS,...,chV6_QwaveAmp,chV6_RwaveAmp,chV6_SwaveAmp,chV6_RPwaveAmp,chV6_SPwaveAmp,chV6_PwaveAmp,chV6_TwaveAmp,chV6_QRSA,chV6_QRSTA,class
0,0,1,2,3,4,5,6,7,8,9,...,270,271,272,273,274,275,276,277,278,279
1,75,0,190,80,91,193,371,174,121,-16,...,0.0,9.0,-0.9,0.0,0.0,0.9,2.9,23.3,49.4,8
2,56,1,165,64,81,174,401,149,39,25,...,0.0,8.5,0.0,0.0,0.0,0.2,2.1,20.4,38.8,6
3,54,0,172,95,138,163,386,185,102,96,...,0.0,9.5,-2.4,0.0,0.0,0.3,3.4,12.3,49.0,10
4,55,0,175,94,100,202,380,179,143,28,...,0.0,12.2,-2.2,0.0,0.0,0.4,2.6,34.6,61.6,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
448,53,1,160,70,80,199,382,154,117,-37,...,0.0,4.3,-5.0,0.0,0.0,0.7,0.6,-4.4,-0.5,1
449,37,0,190,85,100,137,361,201,73,86,...,0.0,15.6,-1.6,0.0,0.0,0.4,2.4,38.0,62.4,10
450,36,0,166,68,108,176,365,194,116,-85,...,0.0,16.3,-28.6,0.0,0.0,1.5,1.0,-44.2,-33.2,2
451,32,1,155,55,93,106,386,218,63,54,...,-0.4,12.0,-0.7,0.0,0.0,0.5,2.4,25.0,46.6,1
452,78,1,160,70,79,127,364,138,78,28,...,0.0,10.4,-1.8,0.0,0.0,0.5,1.6,21.3,32.8,1

## Info tentang dataset

In [39]:
df.describe()

,age,sex,height,weight,QRSduration,PRinterval,Q-Tinterval,Tinterval,Pinterval,QRS,...,chV6_QwaveAmp,chV6_RwaveAmp,chV6_SwaveAmp,chV6_RPwaveAmp,chV6_SPwaveAmp,chV6_PwaveAmp,chV6_TwaveAmp,chV6_QRSA,chV6_QRSTA,class
count,453,453,453,453,453,453,453,453,453,453,...,453.0,453.0,453.0,453.0,453.0,453.0,453.0,453.0,453.0,453
unique,77,2,54,77,68,107,133,130,91,160,...,23.0,137.0,58.0,4.0,2.0,25.0,72.0,287.0,333.0,14
top,46,1,160,70,85,0,383,152,100,62,...,0.0,8.5,0.0,0.0,0.0,0.5,1.5,24.0,16.2,1
freq,15,250,81,29,20,18,12,15,18,10,...,311.0,9.0,144.0,449.0,452.0,82.0,20.0,6.0,4.0,245

## Handling missing value

In [40]:
df.columns[df.isin(['?']).any()]

Index(['T', 'P', 'QRST', 'J', 'heartrate'], dtype='object', name=0)

Mengubah tanda ? menjadi nan value

In [41]:
df = df.replace('?',np.nan)

In [42]:
df.columns[df.isin(['?']).any()]

Index([], dtype='object', name=0)

In [43]:
df['T'].isna().sum()

8

In [44]:
df[df.columns[df.isnull().any()]]

0      T    P QRST    J heartrate
0     10   11   12   13        14
1     13   64   -2  NaN        63
2     37  -17   31  NaN        53
3     34   70   66   23        75
4     11   -5   20  NaN        71
..   ...  ...  ...  ...       ...
448    4   40  -27  NaN        63
449   66   52   79  NaN        73
450  -19  -61  -70   84        84
451   29  -22   43  103        80
452   79   52   47  NaN        75

[453 rows x 5 columns]

**Ada beberapa teknik untuk menghandling missing value. Salah satunya adalah imputation data**

*Dengan data imputation, data yang null akan diisi dengan nilai yang dianggap sebagai rangkuman dari data (yang merepresentasikan data), seperti mean, modus, atau median.*

Di sini kita akan melakukan data imputation dengan nilai mean dari data

In [48]:
imputer = SimpleImputer(strategy = 'mean', missing_values = np.nan)
imputer.fit(df)
imputed_df = imputer.transform(df)

In [52]:
df.isna().sum()

0
age              0
sex              0
height           0
weight           0
QRSduration      0
                ..
chV6_PwaveAmp    0
chV6_TwaveAmp    0
chV6_QRSA        0
chV6_QRSTA       0
class            0
Length: 280, dtype: int64

# EDA

## @Info tentang dataset

In [53]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 453 entries, 0 to 452
Data columns (total 280 columns):
 #    Column                        Non-Null Count  Dtype
---   ------                        --------------  -----
 0    age                           453 non-null    int64
 1    sex                           453 non-null    int64
 2    height                        453 non-null    int64
 3    weight                        453 non-null    int64
 4    QRSduration                   453 non-null    int64
 5    PRinterval                    453 non-null    int64
 6    Q-Tinterval                   453 non-null    int64
 7    Tinterval                     453 non-null    int64
 8    Pinterval                     453 non-null    int64
 9    QRS                           453 non-null    int64
 10   T                             445 non-null    object
 11   P                             431 non-null    object
 12   QRST                          452 non-null    object
 13   J                             77 non-null     object
 14   heartrate                     452 non-null    object
 15   chDI_Qwave                    453 non-null    int64
 16   chDI_Rwave                    453 non-null    int64
 17   chDI_Swave                    453 non-null    int64
 18   chDI_RPwave                   453 non-null    int64
 19   chDI_SPwave                   453 non-null    int64
 20   chDI_intrinsicReflecttions    453 non-null    int64
 21   chDI_RRwaveExists             453 non-null    int64
 22   chDI_DD_RRwaveExists          453 non-null    int64
 23   chDI_RPwaveExists             453 non-null    int64
 24   chDI_DD_RPwaveExists          453 non-null    int64
 25   chDI_RTwaveExists             453 non-null    int64
 26   chDI_DD_RTwaveExists          453 non-null    int64
 27   chDII_Qwave                   453 non-null    int64
 28   chDII_Rwave                   453 non-null    int64
 29   chDII_Swave                   453 non-null    int64
 30   chDII_RPwave                  453 non-null    int64
 31   chDII_SPwave                  453 non-null    int64
 32   chDII_intrinsicReflecttions   453 non-null    int64
 33   chDII_RRwaveExists            453 non-null    int64
 34   chDII_DD_RRwaveExists         453 non-null    int64
 35   chDII_RPwaveExists            453 non-null    int64
 36   chDII_DD_RPwaveExists         453 non-null    int64
 37   chDII_RTwaveExists            453 non-null    int64
 38   chDII_DD_RTwaveExists         453 non-null    int64
 39   chDIII_Qwave                  453 non-null    int64
 40   chDIII_Rwave                  453 non-null    int64
 41   chDIII_Swave                  453 non-null    int64
 42   chDIII_RPwave                 453 non-null    int64
 43   chDIII_SPwave                 453 non-null    int64
 44   chDIII_intrinsicReflecttions  453 non-null    int64
 45   chDIII_RRwaveExists           453 non-null    int64
 46   chDIII_DD_RRwaveExists        453 non-null    int64
 47   chDIII_RPwaveExists           453 non-null    int64
 48   chDIII_DD_RPwaveExists        453 non-null    int64
 49   chDIII_RTwaveExists           453 non-null    int64
 50   chDIII_DD_RTwaveExists        453 non-null    int64
 51   chAVR_Qwave                   453 non-null    int64
 52   chAVR_Rwave                   453 non-null    int64
 53   chAVR_Swave                   453 non-null    int64
 54   chAVR_RPwave                  453 non-null    int64
 55   chAVR_SPwave                  453 non-null    int64
 56   chAVR_intrinsicReflecttions   453 non-null    int64
 57   chAVR_RRwaveExists            453 non-null    int64
 58   chAVR_DD_RRwaveExists         453 non-null    int64
 59   chAVR_RPwaveExists            453 non-null    int64
 60   chAVR_DD_RPwaveExists         453 non-null    int64
 61   chAVR_RTwaveExists            453 non-null    int64
 62   chAVR_DD_RTwaveExists         453 non-null    int64
 63   chAVL_Qwave                   453 non-null    int64
 64   chAVL_Rwave                   453 non-null    int64
 65   chAVL_Swave                   453 non-null    int64
 66   chAVL_RPwave                  453 non-null    int64
 67   chAVL_SPwave                  453 non-null    int64
 68   chAVL_intrinsicReflecttions   453 non-null    int64
 69   chAVL_RRwaveExists            453 non-null    int64
 70   chAVL_DD_RRwaveExists         453 non-null    int64
 71   chAVL_RPwaveExists            453 non-null    int64
 72   chAVL_DD_RPwaveExists         453 non-null    int64
 73   chAVL_RTwaveExists            453 non-null    int64
 74   chAVL_DD_RTwaveExists         453 non-null    int64
 75   chAVF_Qwave                   453 non-null    int64
 76   chAVF_Rwave                   453 non-null    int64
 77   chAVF_Swave                   453 non-null    int64
 78   chAVF_RPwave                  453 non-null    int64
 79   chAVF_SPwave                  453 non-null    int64
 80   chAVF_intrinsicReflecttions   453 non-null    int64
 81   chAVF_RRwaveExists            453 non-null    int64
 82   chAVF_DD_RRwaveExists         453 non-null    int64
 83   chAVF_RPwaveExists            453 non-null    int64
 84   chAVF_DD_RPwaveExists         453 non-null    int64
 85   chAVF_RTwaveExists            453 non-null    int64
 86   chAVF_DD_RTwaveExists         453 non-null    int64
 87   chV1_Qwave                    453 non-null    int64
 88   chV1_Rwave                    453 non-null    int64
 89   chV1_Swave                    453 non-null    int64
 90   chV1_RPwave                   453 non-null    int64
 91   chV1_SPwave                   453 non-null    int64
 92   chV1_intrinsicReflecttions    453 non-null    int64
 93   chV1_RRwaveExists             453 non-null    int64
 94   chV1_DD_RRwaveExists          453 non-null    int64
 95   chV1_RPwaveExists             453 non-null    int64
 96   chV1_DD_RPwaveExists          453 non-null    int64
 97   chV1_RTwaveExists             453 non-null    int64
 98   chV1_DD_RTwaveExists          453 non-null    int64
 99   chV2_Qwave                    453 non-null    int64
 100  chV2_Rwave                    453 non-null    int64
 101  chV2_Swave                    453 non-null    int64
 102  chV2_RPwave                   453 non-null    int64
 103  chV2_SPwave                   453 non-null    int64
 104  chV2_intrinsicReflecttions    453 non-null    int64
 105  chV2_RRwaveExists             453 non-null    int64
 106  chV2_DD_RRwaveExists          453 non-null    int64
 107  chV2_RPwaveExists             453 non-null    int64
 108  chV2_DD_RPwaveExists          453 non-null    int64
 109  chV2_RTwaveExists             453 non-null    int64
 110  chV2_DD_RTwaveExists          453 non-null    int64
 111  chV3_Qwave                    453 non-null    int64
 112  chV3_Rwave                    453 non-null    int64
 113  chV3_Swave                    453 non-null    int64
 114  chV3_RPwave                   453 non-null    int64
 115  chV3_SPwave                   453 non-null    int64
 116  chV3_intrinsicReflecttions    453 non-null    int64
 117  chV3_RRwaveExists             453 non-null    int64
 118  chV3_DD_RRwaveExists          453 non-null    int64
 119  chV3_RPwaveExists             453 non-null    int64
 120  chV3_DD_RPwaveExists          453 non-null    int64
 121  chV3_RTwaveExists             453 non-null    int64
 122  chV3_DD_RTwaveExists          453 non-null    int64
 123  chV4_Qwave                    453 non-null    int64
 124  chV4_Rwave                    453 non-null    int64
 125  chV4_Swave                    453 non-null    int64
 126  chV4_RPwave                   453 non-null    int64
 127  chV4_SPwave                   453 non-null    int64
 128  chV4_intrinsicReflecttions    453 non-null    int64
 129  chV4_RRwaveExists             453 non-null    int64
 130  chV4_DD_RRwaveExists          453 non-null    int64
 131  chV4_RPwaveExists             453 non-null    int64
 132  chV4_DD_RPwaveExists          453 non-null    int64
 133  chV4_RTwaveExists             453 non-null    int64
 134  chV4_DD_RTwaveExists          453 non-null    int64
 135  chV5_Qwave                    453 non-null    int64
 136  chV5_Rwave                    453 non-null    int64
 137  chV5_Swave                    453 non-null    int64
 138  chV5_RPwave                   453 non-null    int64
 139  chV5_SPwave                   453 non-null    int64
 140  chV5_intrinsicReflecttions    453 non-null    int64
 141  chV5_RRwaveExists             453 non-null    int64
 142  chV5_DD_RRwaveExists          453 non-null    int64
 143  chV5_RPwaveExists             453 non-null    int64
 144  chV5_DD_RPwaveExists          453 non-null    int64
 145  chV5_RTwaveExists             453 non-null    int64
 146  chV5_DD_RTwaveExists          453 non-null    int64
 147  chV6_Qwave                    453 non-null    int64
 148  chV6_Rwave                    453 non-null    int64
 149  chV6_Swave                    453 non-null    int64
 150  chV6_RPwave                   453 non-null    int64
 151  chV6_SPwave                   453 non-null    int64
 152  chV6_intrinsicReflecttions    453 non-null    int64
 153  chV6_RRwaveExists             453 non-null    int64
 154  chV6_DD_RRwaveExists          453 non-null    int64
 155  chV6_RPwaveExists             453 non-null    int64
 156  chV6_DD_RPwaveExists          453 non-null    int64
 157  chV6_RTwaveExists             453 non-null    int64
 158  chV6_DD_RTwaveExists          453 non-null    int64
 159  chDI_JJwaveAmp                453 non-null    float64
 160  chDI_QwaveAmp                 453 non-null    float64
 161  chDI_RwaveAmp                 453 non-null    float64
 162  chDI_SwaveAmp                 453 non-null    float64
 163  chDI_RPwaveAmp                453 non-null    float64
 164  chDI_SPwaveAmp                453 non-null    float64
 165  chDI_PwaveAmp                 453 non-null    float64
 166  chDI_TwaveAmp                 453 non-null    float64
 167  chDI_QRSA                     453 non-null    float64
 168  chDI_QRSTA                    453 non-null    float64
 169  chDII_JJwaveAmp               453 non-null    float64
 170  chDII_QwaveAmp                453 non-null    float64
 171  chDII_RwaveAmp                453 non-null    float64
 172  chDII_SwaveAmp                453 non-null    float64
 173  chDII_RPwaveAmp               453 non-null    float64
 174  chDII_SPwaveAmp               453 non-null    float64
 175  chDII_PwaveAmp                453 non-null    float64
 176  chDII_TwaveAmp                453 non-null    float64
 177  chDII_QRSA                    453 non-null    float64
 178  chDII_QRSTA                   453 non-null    float64
 179  chDIII_JJwaveAmp              453 non-null    float64
 180  chDIII_QwaveAmp               453 non-null    float64
 181  chDIII_RwaveAmp               453 non-null    float64
 182  chDIII_SwaveAmp               453 non-null    float64
 183  chDIII_RPwaveAmp              453 non-null    float64
 184  chDIII_SPwaveAmp              453 non-null    float64
 185  chDIII_PwaveAmp               453 non-null    float64
 186  chDIII_TwaveAmp               453 non-null    float64
 187  chDIII_QRSA                   453 non-null    float64
 188  chDIII_QRSTA                  453 non-null    float64
 189  chAVR_JJwaveAmp               453 non-null    float64
 190  chAVR_QwaveAmp                453 non-null    float64
 191  chAVR_RwaveAmp                453 non-null    float64
 192  chAVR_SwaveAmp                453 non-null    float64
 193  chAVR_RPwaveAmp               453 non-null    float64
 194  chAVR_SPwaveAmp               453 non-null    float64
 195  chAVR_PwaveAmp                453 non-null    float64
 196  chAVR_TwaveAmp                453 non-null    float64
 197  chAVR_QRSA                    453 non-null    float64
 198  chAVR_QRSTA                   453 non-null    float64
 199  chAVL_JJwaveAmp               453 non-null    float64
 200  chAVL_QwaveAmp                453 non-null    float64
 201  chAVL_RwaveAmp                453 non-null    float64
 202  chAVL_SwaveAmp                453 non-null    float64
 203  chAVL_RPwaveAmp               453 non-null    float64
 204  chAVL_SPwaveAmp               453 non-null    float64
 205  chAVL_PwaveAmp                453 non-null    float64
 206  chAVL_TwaveAmp                453 non-null    float64
 207  chAVL_QRSA                    453 non-null    float64
 208  chAVL_QRSTA                   453 non-null    float64
 209  chAVF_JJwaveAmp               453 non-null    float64
 210  chAVF_QwaveAmp                453 non-null    float64
 211  chAVF_RwaveAmp                453 non-null    float64
 212  chAVF_SwaveAmp                453 non-null    float64
 213  chAVF_RPwaveAmp               453 non-null    float64
 214  chAVF_SPwaveAmp               453 non-null    float64
 215  chAVF_PwaveAmp                453 non-null    float64
 216  chAVF_TwaveAmp                453 non-null    float64
 217  chAVF_QRSA                    453 non-null    float64
 218  chAVF_QRSTA                   453 non-null    float64
 219  chV1_JJwaveAmp                453 non-null    float64
 220  chV1_QwaveAmp                 453 non-null    float64
 221  chV1_RwaveAmp                 453 non-null    float64
 222  chV1_SwaveAmp                 453 non-null    float64
 223  chV1_RPwaveAmp                453 non-null    float64
 224  chV1_SPwaveAmp                453 non-null    float64
 225  chV1_PwaveAmp                 453 non-null    float64
 226  chV1_TwaveAmp                 453 non-null    float64
 227  chV1_QRSA                     453 non-null    float64
 228  chV1_QRSTA                    453 non-null    float64
 229  chV2_JJwaveAmp                453 non-null    float64
 230  chV2_QwaveAmp                 453 non-null    float64
 231  chV2_RwaveAmp                 453 non-null    float64
 232  chV2_SwaveAmp                 453 non-null    float64
 233  chV2_RPwaveAmp                453 non-null    float64
 234  chV2_SPwaveAmp                453 non-null    float64
 235  chV2_PwaveAmp                 453 non-null    float64
 236  chV2_TwaveAmp                 453 non-null    float64
 237  chV2_QRSA                     453 non-null    float64
 238  chV2_QRSTA                    453 non-null    float64
 239  chV3_JJwaveAmp                453 non-null    float64
 240  chV3_QwaveAmp                 453 non-null    float64
 241  chV3_RwaveAmp                 453 non-null    float64
 242  chV3_SwaveAmp                 453 non-null    float64
 243  chV3_RPwaveAmp                453 non-null    float64
 244  chV3_SPwaveAmp                453 non-null    float64
 245  chV3_PwaveAmp                 453 non-null    float64
 246  chV3_TwaveAmp                 453 non-null    float64
 247  chV3_QRSA                     453 non-null    float64
 248  chV3_QRSTA                    453 non-null    float64
 249  chV4_JJwaveAmp                453 non-null    float64
 250  chV4_QwaveAmp                 453 non-null    float64
 251  chV4_RwaveAmp                 453 non-null    float64
 252  chV4_SwaveAmp                 453 non-null    float64
 253  chV4_RPwaveAmp                453 non-null    float64
 254  chV4_SPwaveAmp                453 non-null    float64
 255  chV4_PwaveAmp                 453 non-null    float64
 256  chV4_TwaveAmp                 453 non-null    float64
 257  chV4_QRSA                     453 non-null    float64
 258  chV4_QRSTA                    453 non-null    float64
 259  chV5_JJwaveAmp                453 non-null    float64
 260  chV5_QwaveAmp                 453 non-null    float64
 261  chV5_RwaveAmp                 453 non-null    float64
 262  chV5_SwaveAmp                 453 non-null    float64
 263  chV5_RPwaveAmp                453 non-null    float64
 264  chV5_SPwaveAmp                453 non-null    float64
 265  chV5_PwaveAmp                 453 non-null    float64
 266  chV5_TwaveAmp                 453 non-null    float64
 267  chV5_QRSA                     453 non-null    float64
 268  chV5_QRSTA                    453 non-null    float64
 269  chV6_JJwaveAmp                453 non-null    float64
 270  chV6_QwaveAmp                 453 non-null    float64
 271  chV6_RwaveAmp                 453 non-null    float64
 272  chV6_SwaveAmp                 453 non-null    float64
 273  chV6_RPwaveAmp                453 non-null    float64
 274  chV6_SPwaveAmp                453 non-null    float64
 275  chV6_PwaveAmp                 453 non-null    float64
 276  chV6_TwaveAmp                 453 non-null    float64
 277  chV6_QRSA                     453 non-null    float64
 278  chV6_QRSTA                    453 non-null    float64
 279  class                         453 non-null    int64
dtypes: float64(120), int64(155), object(5)
memory usage: 994.5+ KB

In [51]:
df.head()

,age,sex,height,weight,QRSduration,PRinterval,Q-Tinterval,Tinterval,Pinterval,QRS,...,chV6_QwaveAmp,chV6_RwaveAmp,chV6_SwaveAmp,chV6_RPwaveAmp,chV6_SPwaveAmp,chV6_PwaveAmp,chV6_TwaveAmp,chV6_QRSA,chV6_QRSTA,class
0,0,1,2,3,4,5,6,7,8,9,...,270.0,271.0,272.0,273.0,274.0,275.0,276.0,277.0,278.0,279
1,75,0,190,80,91,193,371,174,121,-16,...,0.0,9.0,-0.9,0.0,0.0,0.9,2.9,23.3,49.4,8
2,56,1,165,64,81,174,401,149,39,25,...,0.0,8.5,0.0,0.0,0.0,0.2,2.1,20.4,38.8,6
3,54,0,172,95,138,163,386,185,102,96,...,0.0,9.5,-2.4,0.0,0.0,0.3,3.4,12.3,49.0,10
4,55,0,175,94,100,202,380,179,143,28,...,0.0,12.2,-2.2,0.0,0.0,0.4,2.6,34.6,61.6,1

Dapat dilihat bahwa data null terdapat pada kolom T, P, QRST, J, dan heartrate